.protyle .protyle-wysiwyg {
	width: 100% !important;
	padding: 2cm !important;
	margin: 25px auto 50px !important;
}

.protyle-content {
	background-color: var(--b3-theme-background);
}

div.protyle-wysiwyg.protyle-wysiwyg--attr {
	margin-top: 0px !important;
	padding-top: 35px !important;
}

.toolbar__item {
	width: 42px !important;
	display: flex !important;
	justify-content: center !important;
}

.toolbar__item:hover svg {
	color: black !important;
}

#barHistory svg {
	transform: translateY(1px);
}

#barHelp,
#barMode,
#barFeedback,
#toolbarVIP,
#barSync,
#editorEmptyHelp,
#barTopHelp,
#layouts
	div.fn__flex.fn__flex-1
	div.layout__center.fn__flex-column.fn__flex-1
	div.fn__flex-1
	h1,
.layout__empty.b3-list h1,
#dockLeft > div:nth-child(3) > span {
	display: none !important;
}

.layout__empty::before {
	content: "Hi, Roger 😎";
	font-size: 32px;
	font-family: "Times New Roman";
	transform: translateX(-13.5px);
}

.protyle-background .protyle-background__iconw {
	left: 74px !important;
	padding-bottom: 5px !important;
	transform: translateY(10px) !important;
}

.protyle-title.protyle-wysiwyg--attr {
	margin: 16px 83px 0px !important;
}

.render-node .protyle-wysiwyg__embed > p {
	font-size: 14px !important;
	color: grey !important;
	background-color: whitesmoke !important;
}

.protyle-background .protyle-background__img img {
	min-height: 33vh !important;
}

.toolbar {
	display: flex;
	align-items: center;
	padding-left: 0 !important;
	padding-right: 0 !important;
	background: var(--b3-theme-primary) !important;
}

body > div.fn__flex-1.fn__flex {
	overflow-y: hidden;
}

.protyle-wysiwyg[contenteditable="true"] span[data-type~="block-ref"]:hover,
.protyle-wysiwyg[contenteditable="true"]
	span[data-type~="file-annotation-ref"]:hover {
	color: deepskyblue;
}

.toolbar svg {
	color: white !important;
}

.toolbar #drag {
	display: flex;
	align-items: center;
	justify-content: center;
	color: white !important;
}

.protyle-wysiwyg [data-node-id].render-node[data-type="NodeBlockQueryEmbed"] {
	border-left: none !important;
}

span[data-type~="inline-memo"] {
	cursor: pointer;
	margin: 1px 2px;
	padding: 1px 1px;
	font-weight: normal !important;
	background-color: lightpink !important;
	border: 1.5px dashed #7c6a6d !important;
}

#calendar-bar iframe {
	top: 220px;
	width: 300px;
	right: -110px;
	height: 360px;
	z-index: 1000;
	overflow: auto;
	position: fixed;
	background: white;
	transform: translate(-50%, -50%);
	box-shadow: rgb(0 0 0 / 5%) 2px 2px 5px 5px;
}

div#dockLeft {
	padding-top: 3px !important;
	background: var(--b3-theme-surface);
}

div#dockLeft .dock__item:hover,
div#dockLeft .dock__item--active {
	transform: scale(1.3);
}

div#dockLeft .dock__item--activefocus {
	color: var(--b3-theme-on-surface-light) !important;
	background-color: var(--b3-theme-surface) !important;
}

div .block__icons {
	padding: 8px 8px;
	height: 20px;
}

/* 恢复标题宽度 */
div.protyle-title.protyle-wysiwyg--attr {
	width: inherit !important;
}

.b3-typography u,
.b3-typography span[data-type~="u"],
.protyle-wysiwyg u,
.protyle-wysiwyg span[data-type~="u"] {
	border-bottom: 1.5px solid var(--b3-theme-on-background) !important;
}

.b3-typography s,
.b3-typography span[data-type~="s"],
.protyle-wysiwyg s,
.protyle-wysiwyg span[data-type~="s"] {
	color: lightgrey !important;
	text-decoration-color: var(--b3-protyle-inline-s-color);
}

.b3-typography mark,
.b3-typography span[data-type~="mark"],
.protyle-wysiwyg mark,
.protyle-wysiwyg span[data-type~="mark"] {
	padding: 1px 2px;
	background-color: #ffe4c4 !important;
}

/* 2022.11.03 remove dockLeft */
div#dockLeft {
	display: none;
}
.fn__flex-1 {
	overflow-x: hidden;
}

.protyle-wysiwyg [data-node-id].li:before {
	border-left: none;
}

/* 代码片段 from https://ld246.com/article/1670253216830 */

/* 大纲块标隐藏样式 */
/* 为大纲块标和折叠按钮调整位置 */
ul.b3-list.b3-list--background [data-subtype="h1"] .b3-list-item__toggle,
ul.b3-list.b3-list--background [data-subtype="h2"] .b3-list-item__toggle,
ul.b3-list.b3-list--background [data-subtype="h3"] .b3-list-item__toggle,
ul.b3-list.b3-list--background [data-subtype="h4"] .b3-list-item__toggle,
ul.b3-list.b3-list--background [data-subtype="h5"] .b3-list-item__toggle,
ul.b3-list.b3-list--background [data-subtype="h6"] .b3-list-item__toggle {
	position: relative;
	left: 20px;
}
ul.b3-list.b3-list--background [data-subtype="h1"] svg.b3-list-item__graphic,
ul.b3-list.b3-list--background [data-subtype="h2"] svg.b3-list-item__graphic,
ul.b3-list.b3-list--background [data-subtype="h3"] svg.b3-list-item__graphic,
ul.b3-list.b3-list--background [data-subtype="h4"] svg.b3-list-item__graphic,
ul.b3-list.b3-list--background [data-subtype="h5"] svg.b3-list-item__graphic,
ul.b3-list.b3-list--background [data-subtype="h6"] svg.b3-list-item__graphic {
	opacity: 0;
	position: relative;
	left: -20px;
	margin: 0 0 0 4px;
	transition: all 300ms ease-out;
}
/*----------------------*/
/* 为大纲块标添加悬停显示效果 */
.b3-list--background .b3-list-item:hover .b3-list-item__graphic.popover__block {
	opacity: 1 !important;
}
ul.b3-list.b3-list--background
	[data-subtype="h1"]
	svg.b3-list-item__graphic:hover,
ul.b3-list.b3-list--background
	[data-subtype="h2"]
	svg.b3-list-item__graphic:hover,
ul.b3-list.b3-list--background
	[data-subtype="h3"]
	svg.b3-list-item__graphic:hover,
ul.b3-list.b3-list--background
	[data-subtype="h4"]
	svg.b3-list-item__graphic:hover,
ul.b3-list.b3-list--background
	[data-subtype="h5"]
	svg.b3-list-item__graphic:hover,
ul.b3-list.b3-list--background
	[data-subtype="h6"]
	svg.b3-list-item__graphic:hover {
	color: red;
}
/*----------------------*/
/* 为大纲标题项添加背景过渡效果 */
.b3-list--background .b3-list-item {
	transition: all 0.3s ease-out;
}
