.protyle .protyle-wysiwyg {
	width: 100% !important;
	padding: 2cm !important;
	margin: 25px auto 50px !important;
}

.protyle-content {
	background-color: var(--b3-theme-background);
}

div.protyle-wysiwyg.protyle-wysiwyg--attr {
	margin-top: 0px !important;
	padding-top: 35px !important;
}

.toolbar__item:hover svg {
	color: black !important;
}

#barHistory svg {
	transform: translateY(1px);
}

#barHelp,
#barMode,
#barFeedback,
#toolbarVIP,
#barSync,
#editorEmptyHelp,
#layouts
	div.fn__flex.fn__flex-1
	div.layout__center.fn__flex-column.fn__flex-1
	div.fn__flex-1
	h1,
.layout__empty.b3-list h1,
#dockLeft > div:nth-child(3) {
	display: none !important;
}

.layout__empty::before {
	content: "Hi, Roger 😎";
	font-size: 32px;
	font-family: "Times New Roman";
	transform: translateX(-13.5px);
}

.protyle-background .protyle-background__iconw {
	left: 74px !important;
	padding-bottom: 5px !important;
	transform: translateY(10px) !important;
}

.protyle-title.protyle-wysiwyg--attr {
	margin: 16px 83px 0px !important;
}

.render-node .protyle-wysiwyg__embed > p {
	font-size: 14px !important;
	color: grey !important;
	background-color: whitesmoke !important;
}

.protyle-background .protyle-background__img img {
	min-height: 33vh !important;
}

.toolbar {
	display: flex;
	align-items: center;
	background: var(--b3-theme-primary) !important;
}

body > div.fn__flex-1.fn__flex {
	overflow-y: hidden;
}

.protyle-wysiwyg[contenteditable="true"] span[data-type~="block-ref"]:hover,
.protyle-wysiwyg[contenteditable="true"]
	span[data-type~="file-annotation-ref"]:hover {
	color: deepskyblue;
}

.toolbar svg {
	color: white !important;
}

.toolbar #drag {
	display: flex;
	align-items: center;
	justify-content: center;
	color: white !important;
}

#status {
	background-color: var(--b3-theme-primary) !important;
}

#status svg,
#status div.status__msg,
#status div.status__counter,
#status div.status__counter span {
	color: white;
}

.protyle-wysiwyg [data-node-id].render-node[data-type="NodeBlockQueryEmbed"] {
	border-left: none !important;
}

span[data-type~="inline-memo"] {
	cursor: pointer;
	margin: 1px 2px;
	padding: 1px 1px;
	font-weight: normal !important;
	background-color: lightpink !important;
	border: 1.5px dashed #7c6a6d !important;
}

#calendar-bar iframe {
	top: 220px;
	width: 300px;
	right: -110px;
	height: 360px;
	z-index: 1000;
	overflow: auto;
	position: fixed;
	background: white;
	transform: translate(-50%, -50%);
	box-shadow: rgba(0, 0, 0, 0.55) 0px 0px 6px 0px;
}

div#dockLeft {
	background: var(--b3-theme-primary);
	padding-top: 3px !important;
}

div#dockLeft .dock__item {
	color: white;
}

div#dockLeft .dock__item:hover {
	background-color: var(--b3-theme-primary);
}

div#dockLeft .dock__item--active {
	transform: scale(1.3);
	background-color: var(--b3-theme-primary);
}

div .block__icons {
	padding: 8px 8px;
	height: 20px;
}

/* 恢复标题宽度 */
div.protyle-title.protyle-wysiwyg--attr {
	width: inherit !important;
}

.b3-typography u,
.b3-typography span[data-type~="u"],
.protyle-wysiwyg u,
.protyle-wysiwyg span[data-type~="u"] {
	border-bottom: 1.5px solid var(--b3-theme-on-background) !important;
}

.b3-typography s,
.b3-typography span[data-type~="s"],
.protyle-wysiwyg s,
.protyle-wysiwyg span[data-type~="s"] {
	color: lightgrey !important;
	text-decoration-color: var(--b3-protyle-inline-s-color);
}

.b3-typography mark,
.b3-typography span[data-type~="mark"],
.protyle-wysiwyg mark,
.protyle-wysiwyg span[data-type~="mark"] {
	padding: 1px 2px;
	background-color: #ffe4c4 !important;
}
