/* .protyle .protyle-wysiwyg {
	width: 100% !important;
	padding: 2cm !important;
	margin: 25px auto 50px !important;
} */

.protyle .protyle-wysiwyg {
	padding-left: max(64px, 50% - 375px) !important;
	padding-right: max(64px, 50% - 375px) !important;
	transition: unset !important;
	width: 100% !important;
}

.protyle-content {
	background-color: var(--b3-theme-background);
}

div.protyle-wysiwyg.protyle-wysiwyg--attr {
	margin-top: 0px !important;
	padding-top: 35px !important;
}

.toolbar__item {
	width: 42px !important;
	display: flex !important;
	justify-content: center !important;
}

.toolbar__item:hover svg {
	color: black !important;
}

#barHistory svg {
	transform: translateY(1px);
}

#barHelp,
#barMode,
#barFeedback,
#toolbarVIP,
#barSync,
#windowAppIcon,
#editorEmptyHelp,
#barTopHelp,
#layouts
	div.fn__flex.fn__flex-1
	div.layout__center.fn__flex-column.fn__flex-1
	div.fn__flex-1
	h1,
.layout__empty.b3-list h1,
#dockLeft > div:nth-child(3) > span {
	display: none !important;
}

.layout__empty::before {
	content: "Hi, Roger 😎";
	font-size: 32px;
	font-family: "Times New Roman";
	transform: translateX(-13.5px);
}

.protyle-title.protyle-wysiwyg--attr {
	margin: 16px 83px 0px !important;
}

.render-node .protyle-wysiwyg__embed > p {
	font-size: 14px !important;
	color: grey !important;
	background-color: whitesmoke !important;
}

.protyle-background .protyle-background__img img {
	min-height: 33vh !important;
}

.toolbar {
	display: flex;
	align-items: center;
	padding-left: 0 !important;
	padding-right: 0 !important;
	background: var(--b3-theme-primary) !important;
}

body > div.fn__flex-1.fn__flex {
	overflow-y: hidden;
}

.protyle-wysiwyg[contenteditable="true"] span[data-type~="block-ref"]:hover,
.protyle-wysiwyg[contenteditable="true"]
	span[data-type~="file-annotation-ref"]:hover {
	color: deepskyblue;
}

.toolbar svg {
	color: white !important;
}

.toolbar #drag {
	display: flex;
	align-items: center;
	justify-content: center;
	color: white !important;
}

.protyle-wysiwyg [data-node-id].render-node[data-type="NodeBlockQueryEmbed"] {
	border-left: none !important;
}

span[data-type~="inline-memo"] {
	cursor: pointer;
	padding: 0px 3px;
	padding-bottom: 3px;
	border-radius: 10px;
	font-weight: normal !important;
	background-color: transparent !important;
	border: 1.5px dashed #7c6a6d !important;
}

#calendar-bar iframe {
	top: 220px;
	width: 300px;
	right: -110px;
	height: 360px;
	z-index: 1000;
	overflow: auto;
	position: fixed;
	background: white;
	transform: translate(-50%, -50%);
	box-shadow: rgb(0 0 0 / 5%) 2px 2px 5px 5px;
}

div#dockLeft {
	padding-top: 3px !important;
	background: var(--b3-theme-surface);
}

div#dockLeft .dock__item:hover,
div#dockLeft .dock__item--active {
	transform: scale(1.3);
}

div#dockLeft .dock__item--activefocus {
	color: var(--b3-theme-on-surface-light) !important;
	background-color: var(--b3-theme-surface) !important;
}

div .block__icons {
	padding: 8px 8px;
	height: 20px;
}

/* 恢复标题宽度 */
div.protyle-title.protyle-wysiwyg--attr {
	width: inherit !important;
}

.b3-typography u,
.b3-typography span[data-type~="u"],
.protyle-wysiwyg u,
.protyle-wysiwyg span[data-type~="u"] {
	border-bottom: 1.5px solid var(--b3-theme-on-background) !important;
}

.b3-typography s,
.b3-typography span[data-type~="s"],
.protyle-wysiwyg s,
.protyle-wysiwyg span[data-type~="s"] {
	color: lightgrey !important;
	text-decoration-color: var(--b3-protyle-inline-s-color);
}

.b3-typography mark,
.b3-typography span[data-type~="mark"],
.protyle-wysiwyg mark,
.protyle-wysiwyg span[data-type~="mark"] {
	padding: 1px 2px;
	/* background-color: #ffe4c4 !important; */
}

/* 2022.11.03 remove dockLeft */
div#dockLeft {
	display: none;
}
.fn__flex-1 {
	overflow-x: hidden;
}

.protyle-wysiwyg [data-node-id].li:before {
	border-left: none;
}

/* 2023.01.11 barWorkspace */
#barWorkspace .toolbar__text {
	display: none;
}

#barWorkspace .toolbar__svg {
	margin-left: 0px;
	margin-right: 2px;
}
/* 2023.01.11 移除傻逼 class 

'b3-tooltips b3-tooltips__s' */

/* .protyle-util .protyle-font div:nth-of-type(1),
.protyle-util .protyle-font div:nth-of-type(2) {
	display: none !important;
} */

/* .protyle-util .protyle-font button.b3-tooltips::after {
	display: none !important;
}

.protyle-util .protyle-font button.b3-tooltips::before {
	display: inline-block !important;
	position: absolute !important;
	font-family: "微软雅黑" !important;
	font-weight: 600 !important;
	font-size: 1.3em !important;
	left: center !important;
	top: center !important;
	z-index: -1 !important;
	opacity: 1 !important;
	top: initial !important;
    right: initial !important;
    bottom: initial !important;
    margin-right: initial !important;
    border-bottom-color: initial !important;
} */

.protyle-util .protyle-font select.b3-select {
	margin-top: 5px;
	outline: solid lightgrey 2px;
}

.protyle-util .protyle-font button[data-type="clear"] {
	float: right;
	margin-bottom: 8px;
}

#action #preview .protyle-wysiwyg [data-node-id] a[href*=".pdf?p"] {
	text-decoration: none !important;
}

/* 2023.01.27 闪卡区域样式 */
/* body > div.b3-dialog--open > div > div.b3-dialog__container {
	width: 80vw !important;
}

body > div.b3-dialog--open > div > div.b3-dialog__container > div:nth-child(3) {
	height: 90vh !important;
} */

.dock__item--pin {
	opacity: 1 !important;
}

.dock__item--pin[aria-label="取消钉住"] {
	color: var(--b3-theme-primary) !important;
}
