/* 引述 */
.protyle-wysiwyg .bq {
	padding: 0.35em 0.3em;
	border-radius: 0 2px 5px 0;
	color: var(--b3-theme-on-background);
	border-left: 0.25em groove lightgrey;
	background-color: var(--b3-bq-background);
}

/*引述callout第一行样式 */
.bq[custom-co] .p:first-child,
.bq[custom-co] .li:first-child,
.bq[custom-co][data-type="NodeHeading"]:first-child {
	padding-right: 1.6em;
}

/* 引述callout段落的内边距 */
/* .bq[custom-co] .p,
.bq[custom-co] [data-node-id][data-type="NodeHeading"] {
	padding-left: 40px !important;
} */

.protyle-wysiwyg [data-node-id][custom-co].bq {
	border: none;
	border-radius: 10px;
	padding: 0.3em 1em;
	left: 0.25em;
}

.bq[custom-co]::after {
	content: "";
	position: absolute;
	margin-left: -3px;
	top: 0.668em;
	right: 0.65em;
	width: 1.5em;
	height: 1.5em;
	background-size: 100% 100%;
}

/*错误*/
.protyle-wysiwyg [data-node-id][custom-co~="error"].bq {
	box-shadow: 0 0 0 1px red inset;
}

.bq[custom-co~="error"]::after {
	background-image: url("callout/prohibited.png");
}

/*警告*/
.protyle-wysiwyg [data-node-id][custom-co~="warn"].bq {
	box-shadow: 0 0 0 1px orange inset;
}

.bq[custom-co~="warn"]::after {
	background-image: url("callout/warning.png");
}

/*bug*/
.protyle-wysiwyg [data-node-id][custom-co~="bug"].bq {
	box-shadow: 0 0 0 1px black inset;
}

.bq[custom-co~="bug"]::after {
	background-image: url("callout/bug.png");
}
/*正确*/
.protyle-wysiwyg [data-node-id][custom-co~="check"].bq {
	box-shadow: 0 0 0 1px #79b453 inset;
}

.bq[custom-co~="check"]::after {
	background-image: url("callout/check.png");
}
/*灵感*/
.protyle-wysiwyg [data-node-id][custom-co~="light"].bq {
	box-shadow: 0 0 0 1px #ffda84 inset;
}

.bq[custom-co~="light"]::after {
	background-image: url("callout/light-bulb.png");
}

/*问题*/
.protyle-wysiwyg [data-node-id][custom-co~="question"].bq {
	box-shadow: 0 0 0 1px #bf122d inset;
}

.bq[custom-co~="question"]::after {
	background-image: url("callout/question.png");
}

/*错误*/
.protyle-wysiwyg [data-node-id][custom-co~="wrong"].bq {
	box-shadow: 0 0 0 1px #de2a42 inset;
}

.bq[custom-co~="wrong"]::after {
	background-image: url("callout/cross.png");
}
/*信息*/
.protyle-wysiwyg [data-node-id][custom-co~="info"].bq {
	box-shadow: 0 0 0 1px #3889c4 inset;
}

.bq[custom-co~="info"]::after {
	background-image: url("callout/info.png");
}

/*记录*/
.protyle-wysiwyg [data-node-id][custom-co~="pen"].bq {
	box-shadow: 0 0 0 1px #586770 inset;
}

.bq[custom-co~="pen"]::after {
	background-image: url("callout/pen.png");
}
/*汇总*/
.protyle-wysiwyg [data-node-id][custom-co~="note"].bq {
	box-shadow: 0 0 0 1px #667680 inset;
}

.bq[custom-co~="note"]::after {
	background-image: url("callout/notebook.png");
}
/*提醒*/
.protyle-wysiwyg [data-node-id][custom-co~="bell"].bq {
	box-shadow: 0 0 0 1px #ffad30 inset;
}

.bq[custom-co~="bell"]::after {
	background-image: url("callout/bell.png");
}

.protyle-wysiwyg [data-node-id][custom-co~="rocket"].bq {
	box-shadow: 0 0 0 1px #74c1de inset;
}

.bq[custom-co~="rocket"]::after {
	background-image: url("callout/rocket.png");
}

.protyle-wysiwyg [data-node-id][custom-co~="example"].bq {
	box-shadow: 0 0 0 1px black inset;
}

.bq[custom-co~="example"]::after {
	background-image: url("callout/example.png");
}

.protyle-wysiwyg [data-node-id][custom-co~="huaji"].bq {
	box-shadow: 0 0 0 1px #f9b865 inset;
}

.bq[custom-co~="huaji"]::after {
	background-image: url("callout/huaji.png");
}

.protyle-wysiwyg [data-node-id][custom-co~="ocr"].bq {
	box-shadow: 0 0 0 1px #669182 inset;
}

.bq[custom-co~="ocr"]::after {
	background-image: url("callout/ocr.png");
}

.protyle-wysiwyg [data-node-id][custom-co~="comment"].bq {
	box-shadow: 0 0 0 1px #eb5c02 inset;
}

.bq[custom-co~="comment"]::after {
	background-image: url("callout/comment.png");
}

.protyle-wysiwyg [data-node-id][custom-co~="no18"].bq {
	box-shadow: 0 0 10px 1px #f1363c inset;
}

.bq[custom-co~="no18"]::after {
	background-image: url("callout/no18.png");
}
