/* 引述 */
.protyle-wysiwyg .bq[custom-co] {
	padding: 0.35em 0.3em;
	border-radius: 0 2px 5px 0;
	color: var(--b3-theme-on-background);
}

.protyle-wysiwyg .bq:not([custom-co]) {
	padding: 0.1em 0.4em;
	color: var(--b3-theme-on-background);
	border-left: 0.25em double #b0c4de;
}

/*引述callout第一行样式 */
.bq[custom-co] .p:first-child,
.bq[custom-co][data-type="NodeHeading"]:first-child {
	padding-right: 2em;
	padding-top: 0.35em;
}

.bq[custom-co] .li:first-child {
	padding-right: 2em;
}

/* 引述callout段落的内边距 */
/* .bq[custom-co] .p,
.bq[custom-co] [data-node-id][data-type="NodeHeading"] {
	padding-left: 40px !important;
} */

.protyle-wysiwyg [data-node-id][custom-co].bq {
	border: none;
	left: 0.25em;
	min-height: 2.7em;
	padding: 0.3em 1em;
	margin-right: 25px;
	border-radius: 15px;
	margin-bottom: 10px;
}

.protyle-wysiwyg [data-node-id][custom-co][custom-cot].bq {
	min-height: 3.7em;
}

.bq[custom-co]::after {
	content: "";
	position: absolute;
	margin-left: -3px;
	top: 0.65em;
	right: 0.65em;
	width: 2em;
	height: 2em;
	background-size: 2em 2em;
	border-radius: 50%;
}

.bq[custom-co][custom-cot]::after {
	content: attr(custom-cot);
	border-radius: 0px;
	position: absolute;
	margin-left: -3px;
	top: 0.65em;
	right: 0.65em;
	width: 3em;
	min-height: 3.5em;
	padding-top: 2.5em;
	/* white-space: pre; */
	background-size: 2.5em 2.5em;
	text-align: center;
	color: #00008b;
	background-position-x: center;
	background-repeat: no-repeat;
	font-size: 80%;
}

@keyframes InfiniteRotate {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

.bq[custom-co]:hover {
	box-shadow: 0px 0px 5px 1px rgb(0 0 0 / 10%) !important;
}

.bq[custom-co]:hover::after {
	/* content: "";
	height: 2em;
	min-height: 2em;
	padding-top: 0em;
	transition: all 0.3s;
	font-size: 100%;
	background-size: 2em 2em; */

	content: "";
	position: absolute;
	padding: 0;
	font-size: 100%;
	margin-left: -3px;
	top: 0.65em;
	right: 0.65em;
	width: 2em;
	height: 2em;
	min-height: 2em;
	background-size: 2em 2em;
	border-radius: 50%;
	animation: InfiniteRotate 1s linear infinite;
}

.protyle-wysiwyg [data-node-id][custom-co~="stop"].bq,
.protyle-wysiwyg [data-node-id][custom-co~="forbid"].bq {
	box-shadow: 0 0 0 2px red inset;
}

.bq[custom-co~="stop"]::after,
.bq[custom-co~="forbid"]::after {
	background-image: url("callout/stop.png");
}

/*警告*/
.protyle-wysiwyg [data-node-id][custom-co~="warn"].bq {
	box-shadow: 0 0 0 2px orange inset;
}

.bq[custom-co~="warn"]::after {
	background-image: url("callout/warn.png");
}

/*bug*/
.protyle-wysiwyg [data-node-id][custom-co~="bug"].bq {
	box-shadow: 0 0 0 2px black inset;
}

.bq[custom-co~="bug"]::after {
	background-image: url("callout/bug.png");
}

.protyle-wysiwyg [data-node-id][custom-co~="web"].bq {
	box-shadow: 0 0 0 2px black inset;
}

.bq[custom-co~="web"]::after {
	background-image: url("callout/web.png");
}

.protyle-wysiwyg [data-node-id][custom-co~="box"].bq {
	box-shadow: 0 0 0 2px black inset;
}

.bq[custom-co~="box"]::after {
	background-image: url("callout/box.png");
}

.protyle-wysiwyg [data-node-id][custom-co~="compass"].bq {
	box-shadow: 0 0 0 2px black inset;
}

.bq[custom-co~="compass"]::after {
	background-image: url("callout/compass.png");
}

.protyle-wysiwyg [data-node-id][custom-co~="from"].bq {
	box-shadow: 0 0 0 2px black inset;
}

.bq[custom-co~="from"]::after {
	background-image: url("callout/from.png");
}

.protyle-wysiwyg [data-node-id][custom-co~="to"].bq {
	box-shadow: 0 0 0 2px black inset;
}

.bq[custom-co~="to"]::after {
	background-image: url("callout/to.png");
}
/*正确*/

.protyle-wysiwyg [data-node-id][custom-co~="check"].bq,
.protyle-wysiwyg [data-node-id][custom-co~="done"].bq {
	color: #34b297;
	box-shadow: 0 0 0 2px #34b297 inset;
}

.protyle-wysiwyg [data-node-id][custom-co~="check"].bq:hover,
.protyle-wysiwyg [data-node-id][custom-co~="done"].bq:hover {
	color: inherit;
}

.bq[custom-co~="check"]::after,
.bq[custom-co~="done"]::after {
	background-image: url("callout/done.png");
}

/*灵感*/
.protyle-wysiwyg [data-node-id][custom-co~="light"].bq,
.protyle-wysiwyg [data-node-id][custom-co~="bulb"].bq,
.protyle-wysiwyg [data-node-id][custom-co~="idea"].bq {
	box-shadow: 0 0 0 2px #f4c95b inset;
}

.bq[custom-co~="light"]::after,
.bq[custom-co~="bulb"]::after,
.bq[custom-co~="idea"]::after {
	background-image: url("callout/idea.png");
}

/*问题*/
.protyle-wysiwyg [data-node-id][custom-co~="?"].bq,
.protyle-wysiwyg [data-node-id][custom-co~="wt"].bq,
.protyle-wysiwyg [data-node-id][custom-co~="faq"].bq,
.protyle-wysiwyg [data-node-id][custom-co~="question"].bq {
	box-shadow: 0 0 0 2px #445a64 inset;
}

.bq[custom-co~="?"]::after,
.bq[custom-co~="wt"]::after,
.bq[custom-co~="faq"]::after,
.bq[custom-co~="question"]::after {
	background-image: url("callout/question.png");
}

/*错误*/
.protyle-wysiwyg [data-node-id][custom-co~="error"].bq,
.protyle-wysiwyg [data-node-id][custom-co~="wrong"].bq {
	box-shadow: 0 0 0 2px #de2a42 inset;
}

.bq[custom-co~="error"]::after,
.bq[custom-co~="wrong"]::after {
	background-image: url("callout/error.png");
}
/*信息*/
.protyle-wysiwyg [data-node-id][custom-co~="info"].bq {
	box-shadow: 0 0 0 2px #00cde2 inset;
}

.bq[custom-co~="info"]::after {
	background-image: url("callout/info.png");
}

/*记录*/
.protyle-wysiwyg [data-node-id][custom-co~="tip"].bq,
.protyle-wysiwyg [data-node-id][custom-co~="pen"].bq,
.protyle-wysiwyg [data-node-id][custom-co~="write"].bq {
	box-shadow: 0 0 0 2px #000000 inset;
}

.bq[custom-co~="tip"]::after,
.bq[custom-co~="pen"]::after,
.bq[custom-co~="write"]::after {
	background-image: url("callout/pen.png");
}
/*汇总*/
.protyle-wysiwyg [data-node-id][custom-co~="note"].bq,
.protyle-wysiwyg [data-node-id][custom-co~="notebook"].bq {
	box-shadow: 0 0 0 2px #0072bd inset;
}

.bq[custom-co~="note"]::after,
.bq[custom-co~="notebook"]::after {
	background-image: url("callout/notebook.png");
}

.protyle-wysiwyg [data-node-id][custom-co~="jz"].bq,
.protyle-wysiwyg [data-node-id][custom-co~="remember"].bq {
	box-shadow: 0 0 0 2px #80d2ed inset;
}

.bq[custom-co~="jz"]::after,
.bq[custom-co~="remember"]::after {
	background-image: url("callout/remember.webp");
}

.protyle-wysiwyg [data-node-id][custom-co~="wj"].bq,
.protyle-wysiwyg [data-node-id][custom-co~="fj"].bq,
.protyle-wysiwyg [data-node-id][custom-co~="attachment"].bq {
	box-shadow: 0 0 0 2px #000000 inset;
}

.bq[custom-co~="wj"]::after,
.bq[custom-co~="fj"]::after,
.bq[custom-co~="attachment"]::after {
	background-image: url("callout/attachment.png");
}

/*总结*/
.protyle-wysiwyg [data-node-id][custom-co~="summary"].bq {
	box-shadow: 0 0 0 2px #000000 inset;
}

.bq[custom-co~="note"]::after {
	background-image: url("callout/summary.png");
}
/*提醒*/
.protyle-wysiwyg [data-node-id][custom-co~="bell"].bq,
.protyle-wysiwyg [data-node-id][custom-co~="notice"].bq,
.protyle-wysiwyg [data-node-id][custom-co~="reminder"].bq {
	box-shadow: 0 0 0 2px #e83a2a inset;
	transition: all 0.3s;
}

.protyle-wysiwyg [data-node-id][custom-co~="bell"].bq:hover,
.protyle-wysiwyg [data-node-id][custom-co~="notice"].bq:hover,
.protyle-wysiwyg [data-node-id][custom-co~="reminder"].bq:hover {
	font-size: 120%;
	transition: all 0.3s;
}

.bq[custom-co~="bell"]::after,
.bq[custom-co~="notice"]::after,
.bq[custom-co~="reminder"]::after {
	background-image: url("callout/notice.webp");
}

.protyle-wysiwyg [data-node-id][custom-co~="rocket"].bq {
	box-shadow: 0 0 0 2px #032d39 inset;
}

.bq[custom-co~="rocket"]::after {
	background-image: url("callout/rocket.png");
}

.protyle-wysiwyg [data-node-id][custom-co~="example"].bq {
	box-shadow: 0 0 0 2px #f4aa73 inset;
}

.bq[custom-co~="example"]::after {
	background-image: url("callout/example.png");
}

.protyle-wysiwyg [data-node-id][custom-co~="huaji"].bq {
	box-shadow: 0 0 0 2px #fac072 inset;
}

.bq[custom-co~="huaji"]::after {
	background-image: url("callout/huaji.png");
}

.protyle-wysiwyg [data-node-id][custom-co~="ocr"].bq {
	box-shadow: 0 0 0 2px #39c390 inset;
}

.bq[custom-co~="ocr"]::after {
	background-image: url("callout/ocr.jpg");
}

.protyle-wysiwyg [data-node-id][custom-co~="no18"].bq {
	box-shadow: 0 0 5px 1px #f1363c inset;
}

.bq[custom-co~="no18"]::after {
	background-image: url("callout/no18.png");
}

.protyle-wysiwyg [data-node-id][custom-co~="data"].bq {
	box-shadow: 0 0 5px 1px #00338f inset;
}

.bq[custom-co~="data"]::after {
	background-image: url("callout/data.png");
}

.protyle-wysiwyg [data-node-id][custom-co~="new"].bq {
	box-shadow: 0 0 5px 1px #cd2324 inset;
}

.bq[custom-co~="new"]::after {
	background-image: url("callout/new.jpg");
}

.protyle-wysiwyg [data-node-id][custom-co~="task"].bq,
.protyle-wysiwyg [data-node-id][custom-co~="todo"].bq {
	box-shadow: 0 0 0 2px #306bff inset;
}

.bq[custom-co~="task"]::after,
.bq[custom-co~="todo"]::after {
	background-image: url("callout/todo.png");
}

.protyle-wysiwyg [data-node-id][custom-co~="intro"].bq,
.protyle-wysiwyg [data-node-id][custom-co~="introduction"].bq {
	box-shadow: 0 0 0 2px #000000 inset;
}

.bq[custom-co~="intro"]::after,
.bq[custom-co~="introduction"]::after {
	background-image: url("callout/introduction.png");
}

.protyle-wysiwyg [data-node-id][custom-co~="ren"].bq,
.protyle-wysiwyg [data-node-id][custom-co~="person"].bq {
	box-shadow: 0 0 0 2px #a998f4 inset;
}

.bq[custom-co~="ren"]::after,
.bq[custom-co~="person"]::after {
	background-image: url("callout/person.png");
}

.protyle-wysiwyg [data-node-id][custom-co~="db"].bq,
.protyle-wysiwyg [data-node-id][custom-co~="compare"].bq {
	box-shadow: 0 0 0 2px #000 inset;
}

.bq[custom-co~="db"]::after,
.bq[custom-co~="compare"]::after {
	background-image: url("callout/compare.png");
}

.protyle-wysiwyg [data-node-id][custom-co~="kc"].bq,
.protyle-wysiwyg [data-node-id][custom-co~="class"].bq,
.protyle-wysiwyg [data-node-id][custom-co~="lesson"].bq {
	box-shadow: 0 0 0 2px #cea656 inset;
}

.bq[custom-co~="kc"]::after,
.bq[custom-co~="class"]::after,
.bq[custom-co~="lesson"]::after {
	background-image: url("callout/lesson.png");
}

.protyle-wysiwyg [data-node-id][custom-co~="td"].bq,
.protyle-wysiwyg [data-node-id][custom-co~="gc"].bq,
.protyle-wysiwyg [data-node-id][custom-co~="process"].bq {
	box-shadow: 0 0 0 2px #000000 inset;
}

.bq[custom-co~="td"]::after,
.bq[custom-co~="gc"]::after,
.bq[custom-co~="process"]::after {
	background-image: url("callout/process.png");
}

.protyle-wysiwyg [data-node-id][custom-co~="jl"].bq,
.protyle-wysiwyg [data-node-id][custom-co~="conclusion"].bq {
	box-shadow: 0 0 0 2px #ac000c inset;
}

.bq[custom-co~="jl"]::after,
.bq[custom-co~="conclusion"]::after {
	background-image: url("callout/conclusion.jpg");
}

.protyle-wysiwyg [data-node-id][custom-co~="fy"].bq,
.protyle-wysiwyg [data-node-id][custom-co~="translate"].bq {
	box-shadow: 0 0 0 2px #000000 inset;
}

.bq[custom-co~="fy"]::after,
.bq[custom-co~="translate"]::after {
	background-image: url("callout/translate.png");
}

/* 重要 */
.protyle-wysiwyg [data-node-id][custom-co~="zy"].bq,
.protyle-wysiwyg [data-node-id][custom-co~="important"].bq {
	box-shadow: 0 0 0 2px #febb37 inset;
}

.bq[custom-co~="zy"]::after,
.bq[custom-co~="important"]::after {
	background-image: url("callout/important.png");
}

.protyle-wysiwyg [data-node-id][custom-co~="xj"].bq,
.protyle-wysiwyg [data-node-id][custom-co~="letter"].bq {
	box-shadow: 0 0 0 2px #000000 inset;
}

.bq[custom-co~="xj"]::after,
.bq[custom-co~="letter"]::after {
	background-image: url("callout/letter.png");
}

/* 推荐 */
.protyle-wysiwyg [data-node-id][custom-co~="tj"].bq {
	box-shadow: 0 0 0 2px #e1a546 inset;
}

.bq[custom-co~="tj"]::after {
	background-image: url("callout/tj.png");
}

/* 不推荐 */
.protyle-wysiwyg [data-node-id][custom-co~="btj"].bq {
	box-shadow: 0 0 0 2px #f1635f inset;
}

.bq[custom-co~="btj"]::after {
	background-image: url("callout/btj.png");
}

.protyle-wysiwyg [data-node-id][custom-co~="news"].bq {
	box-shadow: 0 0 0 2px #194f82 inset;
}

.bq[custom-co~="news"]::after {
	background-image: url("callout/news.png");
}

/* 敏感 */
.protyle-wysiwyg [data-node-id][custom-co~="mg"].bq,
.protyle-wysiwyg [data-node-id][custom-co~="mingan"].bq {
	box-shadow: 0 0 0 2px #010101 inset;
	background-color: #010101;
	transition: all 0.3s;
}

.protyle-wysiwyg [data-node-id][custom-co~="mg"].bq div,
.protyle-wysiwyg [data-node-id][custom-co~="mingan"].bq div {
	opacity: 0;
	transition: all 0.3s;
}

.protyle-wysiwyg [data-node-id][custom-co~="mg"].bq:hover div,
.protyle-wysiwyg [data-node-id][custom-co~="mingan"].bq:hover div {
	opacity: 1;
	transition: all 0.3s;
}

.protyle-wysiwyg [data-node-id][custom-co~="mg"].bq:hover,
.protyle-wysiwyg [data-node-id][custom-co~="mingan"].bq:hover {
	background-color: inherit;
	transition: all 0.3s;
}

.bq[custom-co~="mg"]::after,
.bq[custom-co~="mingan"]::after {
	background-image: url("callout/mg.png");
	border-radius: 50%;
}

/* 听说 */
.protyle-wysiwyg [data-node-id][custom-co~="ts"].bq,
.protyle-wysiwyg [data-node-id][custom-co~="hear"].bq {
	box-shadow: 0 0 0 2px #4dd9ce inset;
}

.bq[custom-co~="ts"]::after,
.bq[custom-co~="hear"]::after {
	background-image: url("callout/hear.png");
}

/* 转载、分享 */
.protyle-wysiwyg [data-node-id][custom-co~="zz"].bq,
.protyle-wysiwyg [data-node-id][custom-co~="link"].bq,
.protyle-wysiwyg [data-node-id][custom-co~="share"].bq {
	box-shadow: 0 0 0 2px #008dc0 inset;
}

.bq[custom-co~="zz"]::after,
.bq[custom-co~="link"]::after,
.bq[custom-co~="share"]::after {
	background-image: url("callout/share.png");
}

/* 资源 */
.protyle-wysiwyg [data-node-id][custom-co~="source"].bq {
	/* box-shadow: 0 0 0 2px #2aaadc inset; */
	box-shadow: 0 0 0 2px #01888c inset;
}

.bq[custom-co~="source"]::after {
	background-image: url("callout/source.png");
}

.protyle-wysiwyg [data-node-id][custom-co~="shit"].bq {
	box-shadow: 0 0 0 2px #723a2d inset;
}

.bq[custom-co~="shit"]::after {
	background-image: url("callout/shit.png");
}

.protyle-wysiwyg [data-node-id][custom-co~="cry"].bq {
	box-shadow: 0 0 0 2px #f7b239 inset;
}

.bq[custom-co~="cry"]::after {
	background-image: url("callout/cry.png");
}

.protyle-wysiwyg [data-node-id][custom-co~="wait"].bq {
	box-shadow: 0 0 0 2px #52b1b1 inset;
}

.bq[custom-co~="wait"]::after {
	background-image: url("callout/wait.png");
}

.protyle-wysiwyg [data-node-id][custom-co~="love"].bq {
	box-shadow: 0 0 0 2px #ff5677 inset;
}

.bq[custom-co~="love"]::after {
	background-image: url("callout/love.png");
}

.protyle-wysiwyg [data-node-id][custom-co~="lhhd"].bq {
	box-shadow: 0 0 0 2px #d47b04 inset;
}

.bq[custom-co~="lhhd"]::after {
	background-image: url("callout/lhhd.jpg");
}

.protyle-wysiwyg [data-node-id][custom-co~="happy"].bq {
	box-shadow: 0 0 0 2px #f7b239 inset;
}

.bq[custom-co~="happy"]::after {
	background-image: url("callout/happy.png");
}

/* 思考 */
.protyle-wysiwyg [data-node-id][custom-co~="sk"].bq,
.protyle-wysiwyg [data-node-id][custom-co~="think"].bq {
	box-shadow: 0 0 0 2px #000000 inset;
}

.bq[custom-co~="sk"]::after,
.bq[custom-co~="think"]::after {
	background-image: url("callout/think.png");
}

/* 愤怒 */
.protyle-wysiwyg [data-node-id][custom-co~="sq"].bq,
.protyle-wysiwyg [data-node-id][custom-co~="fn"].bq,
.protyle-wysiwyg [data-node-id][custom-co~="angry"].bq {
	box-shadow: 0 0 0 2px #e84f4f inset;
}

.bq[custom-co~="sq"]::after,
.bq[custom-co~="fn"]::after,
.bq[custom-co~="angry"]::after {
	background-image: url("callout/angry.png");
}

/* 呕吐 */
.protyle-wysiwyg [data-node-id][custom-co~="ot"].bq,
.protyle-wysiwyg [data-node-id][custom-co~="vomit"].bq {
	box-shadow: 0 0 0 2px #4f9e42 inset;
}

.bq[custom-co~="ot"]::after,
.bq[custom-co~="vomit"]::after {
	background-image: url("callout/vomit.png");
}

/* 爆炸 */
.protyle-wysiwyg [data-node-id][custom-co~="bz"].bq,
.protyle-wysiwyg [data-node-id][custom-co~="boom"].bq {
	box-shadow: 0 0 0 2px #f38c57 inset;
}

.bq[custom-co~="bz"]::after,
.bq[custom-co~="boom"]::after {
	background-image: url("callout/boom.png");
}

/* 震惊 */
.protyle-wysiwyg [data-node-id][custom-co~="zj"].bq,
.protyle-wysiwyg [data-node-id][custom-co~="shock"].bq {
	box-shadow: 0 0 0 2px #f38c57 inset;
}

.bq[custom-co~="zj"]::after,
.bq[custom-co~="shock"]::after {
	background-image: url("callout/shock.png");
}

/* 睡觉、无聊 */
.protyle-wysiwyg [data-node-id][custom-co~="sleep"].bq,
.protyle-wysiwyg [data-node-id][custom-co~="boring"].bq {
	box-shadow: 0 0 0 2px #000000 inset;
}

.bq[custom-co~="sleep"]::after,
.bq[custom-co~="boring"]::after {
	background-image: url("callout/sleep.png");
}

/* 睡觉、无聊 */
.protyle-wysiwyg [data-node-id][custom-co~="test"].bq,
.protyle-wysiwyg [data-node-id][custom-co~="testing"].bq {
	box-shadow: 0 0 0 2px #000000 inset;
}

.bq[custom-co~="test"]::after,
.bq[custom-co~="testing"]::after {
	background-image: url("callout/testing.png");
}

.protyle-wysiwyg [data-node-id][custom-co~="bh"].bq,
.protyle-wysiwyg [data-node-id][custom-co~="change"].bq,
.protyle-wysiwyg [data-node-id][custom-co~="changing"].bq {
	box-shadow: 0 0 0 2px #000000 inset;
}

.bq[custom-co~="bh"]::after,
.bq[custom-co~="change"]::after,
.bq[custom-co~="changing"]::after {
	background-image: url("callout/changing.jpg");
}

/* 容易、简单 */
.protyle-wysiwyg [data-node-id][custom-co~="jd"].bq,
.protyle-wysiwyg [data-node-id][custom-co~="ry"].bq,
.protyle-wysiwyg [data-node-id][custom-co~="easy"].bq {
	box-shadow: 0 0 0 2px #000000 inset;
}

.bq[custom-co~="jd"]::after,
.bq[custom-co~="ry"]::after,
.bq[custom-co~="easy"]::after {
	background-image: url("callout/easy.png");
}

/* 适中、调整 */
.protyle-wysiwyg [data-node-id][custom-co~="sz"].bq,
.protyle-wysiwyg [data-node-id][custom-co~="tz"].bq,
.protyle-wysiwyg [data-node-id][custom-co~="medium"].bq {
	box-shadow: 0 0 0 2px #ff8c00 inset;
}

.bq[custom-co~="sz"]::after,
.bq[custom-co~="tz"]::after,
.bq[custom-co~="medium"]::after {
	background-image: url("callout/medium.png");
}

/* 失败 */
.protyle-wysiwyg [data-node-id][custom-co~="sb"].bq,
.protyle-wysiwyg [data-node-id][custom-co~="fail"].bq,
.protyle-wysiwyg [data-node-id][custom-co~="failed"].bq {
	box-shadow: 0 0 0 2px #d8453e inset;
}

.bq[custom-co~="sb"]::after,
.bq[custom-co~="fail"]::after,
.bq[custom-co~="failed"]::after {
	background-image: url("callout/failed.png");
}

/* 憨憨 */
.protyle-wysiwyg [data-node-id][custom-co~="fool"].bq,
.protyle-wysiwyg [data-node-id][custom-co~="dizzy"].bq,
.protyle-wysiwyg [data-node-id][custom-co~="stupid"].bq,
.protyle-wysiwyg [data-node-id][custom-co~="upside-down"].bq {
	transform: rotateX(180deg);
	box-shadow: 0 0 0 2px #ffbc2a inset;
}

.protyle-wysiwyg [data-node-id][custom-co~="fool"].bq:hover,
.protyle-wysiwyg [data-node-id][custom-co~="dizzy"].bq:hover,
.protyle-wysiwyg [data-node-id][custom-co~="stupid"].bq:hover,
.protyle-wysiwyg [data-node-id][custom-co~="upside-down"].bq:hover {
	transform: rotateX(0deg);
}

.bq[custom-co~="fool"]::after,
.bq[custom-co~="dizzy"]::after,
.bq[custom-co~="stupid"]::after {
	background-image: url("callout/fool.png");
}

/* 方法、技巧 */
.protyle-wysiwyg [data-node-id][custom-co~="ff"].bq,
.protyle-wysiwyg [data-node-id][custom-co~="jq"].bq,
.protyle-wysiwyg [data-node-id][custom-co~="skill"].bq {
	box-shadow: 0 0 0 2px #54be99 inset;
}

.bq[custom-co~="ff"]::after,
.bq[custom-co~="jq"]::after,
.bq[custom-co~="skill"]::after {
	background-image: url("callout/skill.png");
}

/* 禅、修行 */
.protyle-wysiwyg [data-node-id][custom-co~="xx"].bq,
.protyle-wysiwyg [data-node-id][custom-co~="chan"].bq,
.protyle-wysiwyg [data-node-id][custom-co~="zen"].bq {
	box-shadow: 0 0 0 2px #faa68e inset;
}

.bq[custom-co~="xx"]::after,
.bq[custom-co~="chan"]::after,
.bq[custom-co~="zen"]::after {
	background-image: url("callout/zen.png");
}

/* 困难 */
.protyle-wysiwyg [data-node-id][custom-co~="kn"].bq,
.protyle-wysiwyg [data-node-id][custom-co~="hard"].bq {
	box-shadow: 0 0 0 2px #000000 inset;
}

.bq[custom-co~="kn"]::after,
.bq[custom-co~="hard"]::after {
	background-image: url("callout/hard.png");
}

/* 增 */

.protyle-wysiwyg [data-node-id][custom-co~="c"].bq,
.protyle-wysiwyg [data-node-id][custom-co~="create"].bq {
	box-shadow: 0 0 0 2px black inset;
}

.bq[custom-co~="c"]::after,
.bq[custom-co~="create"]::after {
	background-image: url("callout/create.png");
}

/* 删 */

.protyle-wysiwyg [data-node-id][custom-co~="d"].bq,
.protyle-wysiwyg [data-node-id][custom-co~="delete"].bq {
	box-shadow: 0 0 0 2px black inset;
}

.bq[custom-co~="d"]::after,
.bq[custom-co~="delete"]::after {
	background-image: url("callout/delete.png");
}

/* 改 */

.protyle-wysiwyg [data-node-id][custom-co~="u"].bq,
.protyle-wysiwyg [data-node-id][custom-co~="e"].bq,
.protyle-wysiwyg [data-node-id][custom-co~="edit"].bq,
.protyle-wysiwyg [data-node-id][custom-co~="update"].bq {
	box-shadow: 0 0 0 2px black inset;
}

.bq[custom-co~="u"]::after,
.bq[custom-co~="e"]::after,
.bq[custom-co~="edit"]::after,
.bq[custom-co~="update"]::after {
	background-image: url("callout/update.png");
}

/* 查 */

.protyle-wysiwyg [data-node-id][custom-co~="q"].bq,
.protyle-wysiwyg [data-node-id][custom-co~="s"].bq,
.protyle-wysiwyg [data-node-id][custom-co~="query"].bq,
.protyle-wysiwyg [data-node-id][custom-co~="search"].bq {
	box-shadow: 0 0 0 2px black inset;
}

.bq[custom-co~="q"]::after,
.bq[custom-co~="s"]::after,
.bq[custom-co~="query"]::after,
.bq[custom-co~="search"]::after {
	background-image: url("callout/query.png");
}

/* 学习 */
.protyle-wysiwyg [data-node-id][custom-co~="xx"].bq,
.protyle-wysiwyg [data-node-id][custom-co~="learn"].bq,
.protyle-wysiwyg [data-node-id][custom-co~="study"].bq {
	box-shadow: 0 0 0 2px #2ea2db inset;
}

.bq[custom-co~="xx"]::after,
.bq[custom-co~="learn"]::after,
.bq[custom-co~="study"]::after {
	background-image: url("callout/study.png");
}

/* 时间 */
.protyle-wysiwyg [data-node-id][custom-co~="time"].bq {
	box-shadow: 0 0 0 2px #000000 inset;
}

.bq[custom-co~="time"]::after {
	background-image: url("callout/time.gif");
}

.protyle-wysiwyg [data-node-id][custom-co~="pass"].bq {
	box-shadow: 0 0 0 2px #000000 inset;
}

.bq[custom-co~="pass"]::after {
	background-image: url("callout/pass.png");
}

.protyle-wysiwyg [data-node-id][custom-co~="miss"].bq {
	box-shadow: 0 0 0 2px #000000 inset;
}

.bq[custom-co~="miss"]::after {
	background-image: url("callout/miss.png");
}

.protyle-wysiwyg [data-node-id][custom-co~="review"].bq {
	box-shadow: 0 0 0 2px #7e7469 inset;
}

.bq[custom-co~="review"]::after {
	background-image: url("callout/review.jpg");
}

/* 待定、存疑 */
.protyle-wysiwyg [data-node-id][custom-co~="dd"].bq,
.protyle-wysiwyg [data-node-id][custom-co~="cy"].bq {
	box-shadow: 0 0 0 2px blue inset;
}

.bq[custom-co~="dd"]::after,
.bq[custom-co~="cy"]::after {
	background-image: url("callout/dd.png");
}

/* 会议 */
.protyle-wysiwyg [data-node-id][custom-co~="hy"].bq,
.protyle-wysiwyg [data-node-id][custom-co~="meet"].bq,
.protyle-wysiwyg [data-node-id][custom-co~="meeting"].bq {
	box-shadow: 0 0 0 2px #ff7b79 inset;
}

.bq[custom-co~="hy"]::after,
.bq[custom-co~="meet"]::after,
.bq[custom-co~="meeting"]::after {
	background-image: url("callout/meeting.png");
}

/* 反思 */
.protyle-wysiwyg [data-node-id][custom-co~="fs"].bq,
.protyle-wysiwyg [data-node-id][custom-co~="reflect"].bq {
	box-shadow: 0 0 0 2px #000000 inset;
}

.bq[custom-co~="fs"]::after,
.bq[custom-co~="reflect"]::after {
	background-image: url("callout/reflect.png");
}

/* 改正 */
.protyle-wysiwyg [data-node-id][custom-co~="gz"].bq,
.protyle-wysiwyg [data-node-id][custom-co~="correct"].bq {
	box-shadow: 0 0 0 2px #382b73 inset;
}

.bq[custom-co~="gz"]::after,
.bq[custom-co~="correct"]::after {
	background-image: url("callout/correct.png");
}

/* 后悔 */
.protyle-wysiwyg [data-node-id][custom-co~="hh"].bq,
.protyle-wysiwyg [data-node-id][custom-co~="regret"].bq {
	box-shadow: 0 0 0 2px #ef313b inset;
}

.bq[custom-co~="hh"]::after,
.bq[custom-co~="regret"]::after {
	background-image: url("callout/regret.png");
}

/* 收入 */
.protyle-wysiwyg [data-node-id][custom-co~="sr"].bq,
.protyle-wysiwyg [data-node-id][custom-co~="incomet"].bq {
	box-shadow: 0 0 0 2px #00a1f1 inset;
}

.bq[custom-co~="sr"]::after,
.bq[custom-co~="income"]::after {
	background-image: url("callout/income.png");
}

/* 代码、编程 */
.protyle-wysiwyg [data-node-id][custom-co~="dm"].bq,
.protyle-wysiwyg [data-node-id][custom-co~="bc"].bq,
.protyle-wysiwyg [data-node-id][custom-co~="code"].bq {
	box-shadow: 0 0 0 2px #000000 inset;
}

.bq[custom-co~="dm"]::after,
.bq[custom-co~="bc"]::after,
.bq[custom-co~="code"]::after {
	background-image: url("callout/code.png");
}

/* 消费、花费 */
.protyle-wysiwyg [data-node-id][custom-co~="xf"].bq,
.protyle-wysiwyg [data-node-id][custom-co~="hf"].bq,
.protyle-wysiwyg [data-node-id][custom-co~="cost"].bq {
	box-shadow: 0 0 0 2px #548aff inset;
}

.bq[custom-co~="xf"]::after,
.bq[custom-co~="hf"]::after,
.bq[custom-co~="cost"]::after {
	background-image: url("callout/cost.png");
}

/*  再见 */
.protyle-wysiwyg [data-node-id][custom-co~="bye"].bq {
	box-shadow: 0 0 0 2px #ffdcd5 inset;
}

.bq[custom-co~="bye"]::after {
	background-image: url("callout/bye.png");
}

/* 定义 */
.protyle-wysiwyg [data-node-id][custom-co~="dy"].bq,
.protyle-wysiwyg [data-node-id][custom-co~="define"].bq {
	box-shadow: 0 0 0 2px #000 inset;
}

.bq[custom-co~="dy"]::after,
.bq[custom-co~="define"]::after {
	background-image: url("callout/define.png");
}

/* 计划 */
.protyle-wysiwyg [data-node-id][custom-co~="jh"].bq,
.protyle-wysiwyg [data-node-id][custom-co~="plan"].bq,
.protyle-wysiwyg [data-node-id][custom-co~="aim"].bq {
	box-shadow: 0 0 0 2px #81d2eb inset;
}

.bq[custom-co~="jh"]::after,
.bq[custom-co~="plan"]::after,
.bq[custom-co~="aim"]::after {
	background-image: url("callout/plan.png");
}

/* 困惑 */
.protyle-wysiwyg [data-node-id][custom-co~="kh"].bq,
.protyle-wysiwyg [data-node-id][custom-co~="yh"].bq,
.protyle-wysiwyg [data-node-id][custom-co~="mess"].bq,
.protyle-wysiwyg [data-node-id][custom-co~="puzzle"].bq {
	box-shadow: 0 0 0 2px #deffd2 inset;
}

.bq[custom-co~="kh"]::after,
.bq[custom-co~="key"]::after,
.bq[custom-co~="mess"]::after,
.bq[custom-co~="puzzle"]::after {
	background-image: url("callout/mess.png");
}

/* 答案 */
.protyle-wysiwyg [data-node-id][custom-co~="da"].bq,
.protyle-wysiwyg [data-node-id][custom-co~="key"].bq,
.protyle-wysiwyg [data-node-id][custom-co~="solve"].bq,
.protyle-wysiwyg [data-node-id][custom-co~="answer"].bq {
	box-shadow: 0 0 0 2px #00a8f3 inset;
}

.bq[custom-co~="da"]::after,
.bq[custom-co~="yh"]::after,
.bq[custom-co~="solve"]::after,
.bq[custom-co~="answer"]::after {
	background-image: url("callout/answer.png");
}

/* 秘密、加密、隐私 */
.protyle-wysiwyg [data-node-id][custom-co~="mm"].bq,
.protyle-wysiwyg [data-node-id][custom-co~="ys"].bq,
.protyle-wysiwyg [data-node-id][custom-co~="jm"].bq,
.protyle-wysiwyg [data-node-id][custom-co~="lock"].bq,
.protyle-wysiwyg [data-node-id][custom-co~="secret"].bq {
	box-shadow: 0 0 0 2px #40a8b3 inset;
	background-color: #40a8b3;
	transition: all 0.3s;
}

.protyle-wysiwyg [data-node-id][custom-co~="mm"].bq div,
.protyle-wysiwyg [data-node-id][custom-co~="ys"].bq div,
.protyle-wysiwyg [data-node-id][custom-co~="jm"].bq div,
.protyle-wysiwyg [data-node-id][custom-co~="lock"].bq div,
.protyle-wysiwyg [data-node-id][custom-co~="secret"].bq div {
	opacity: 0;
	transition: all 0.3s;
}

.protyle-wysiwyg [data-node-id][custom-co~="mm"].bq:hover div,
.protyle-wysiwyg [data-node-id][custom-co~="ys"].bq:hover div,
.protyle-wysiwyg [data-node-id][custom-co~="jm"].bq:hover div,
.protyle-wysiwyg [data-node-id][custom-co~="lock"].bq:hover div,
.protyle-wysiwyg [data-node-id][custom-co~="secret"].bq:hover div {
	opacity: 1;
	transition: all 0.3s;
}

.protyle-wysiwyg [data-node-id][custom-co~="mm"].bq:hover,
.protyle-wysiwyg [data-node-id][custom-co~="ys"].bq:hover,
.protyle-wysiwyg [data-node-id][custom-co~="jm"].bq:hover,
.protyle-wysiwyg [data-node-id][custom-co~="lock"].bq:hover,
.protyle-wysiwyg [data-node-id][custom-co~="secret"].bq:hover {
	background-color: inherit;
	transition: all 0.3s;
}

.bq[custom-co~="mm"]::after,
.bq[custom-co~="ys"]::after,
.bq[custom-co~="jm"]::after,
.bq[custom-co~="lock"]::after,
.bq[custom-co~="secret"]::after {
	background-image: url("callout/lock.png");
	border-radius: 50%;
}

/* 结束 */
.protyle-wysiwyg [data-node-id][custom-co~="js"].bq,
.protyle-wysiwyg [data-node-id][custom-co~="end"].bq,
.protyle-wysiwyg [data-node-id][custom-co~="finish"].bq {
	box-shadow: 0 0 0 2px #ffd500 inset;
}

.bq[custom-co~="js"]::after,
.bq[custom-co~="end"]::after,
.bq[custom-co~="finish"]::after {
	background-image: url("callout/end.png");
}

/* 墨镜 */
.protyle-wysiwyg [data-node-id][custom-co~="mj"].bq,
.protyle-wysiwyg [data-node-id][custom-co~="sunglasses"].bq {
	box-shadow: 0 0 0 2px #e78000 inset;
}

.bq[custom-co~="mj"]::after,
.bq[custom-co~="sunglasses"]::after {
	background-image: url("callout/sunglasses.jpg");
}

/* 表单 */
.protyle-wysiwyg [data-node-id][custom-co~="bd"].bq,
.protyle-wysiwyg [data-node-id][custom-co~="form"].bq {
	box-shadow: 0 0 0 2px #473080 inset;
}

.bq[custom-co~="bd"]::after,
.bq[custom-co~="form"]::after {
	background-image: url("callout/form.png");
}

/* 考试、题目 */
.protyle-wysiwyg [data-node-id][custom-co~="ks"].bq,
.protyle-wysiwyg [data-node-id][custom-co~="tm"].bq,
.protyle-wysiwyg [data-node-id][custom-co~="exam"].bq {
	box-shadow: 0 0 0 2px #8ebfe8 inset;
}

.bq[custom-co~="ks"]::after,
.bq[custom-co~="tm"]::after,
.bq[custom-co~="undo"]::after {
	background-image: url("callout/exam.png");
}

/* 评价、看法 */
.protyle-wysiwyg [data-node-id][custom-co~="pj"].bq,
.protyle-wysiwyg [data-node-id][custom-co~="kf"].bq,
.protyle-wysiwyg [data-node-id][custom-co~="judge"].bq,
.protyle-wysiwyg [data-node-id][custom-co~="comment"].bq {
	font-family: KaiTi;
	box-shadow: 0 0 0 2px #ff9833 inset;
}

.bq[custom-co~="pj"]::after,
.bq[custom-co~="kf"]::after,
.bq[custom-co~="judge"]::after,
.bq[custom-co~="comment"]::after {
	background-image: url("callout/comment.png");
}

/* 游戏、娱乐 */
.protyle-wysiwyg [data-node-id][custom-co~="yx"].bq,
.protyle-wysiwyg [data-node-id][custom-co~="yl"].bq,
.protyle-wysiwyg [data-node-id][custom-co~="game"].bq {
	box-shadow: 0 0 0 2px #71acad inset;
}

.bq[custom-co~="yx"]::after,
.bq[custom-co~="yl"]::after,
.bq[custom-co~="game"]::after {
	background-image: url("callout/game.png");
}

/* 调控、讽刺 */
.protyle-wysiwyg [data-node-id][custom-co~="tk"].bq,
.protyle-wysiwyg [data-node-id][custom-co~="fc"].bq,
.protyle-wysiwyg [data-node-id][custom-co~="tease"].bq {
	box-shadow: 0 0 0 2px #dfc530 inset;
}

.bq[custom-co~="tk"]::after,
.bq[custom-co~="fc"]::after,
.bq[custom-co~="tease"]::after {
	background-image: url("callout/tease.png");
}

/* 撤销、重做 */
.protyle-wysiwyg [data-node-id][custom-co~="cz"].bq,
.protyle-wysiwyg [data-node-id][custom-co~="cx"].bq,
.protyle-wysiwyg [data-node-id][custom-co~="undo"].bq {
	box-shadow: 0 0 0 2px #ffc107 inset;
}

.bq[custom-co~="cz"]::after,
.bq[custom-co~="cx"]::after,
.bq[custom-co~="undo"]::after {
	background-image: url("callout/undo.png");
}

/* 聊天、对话 */
.protyle-wysiwyg [data-node-id][custom-co~="dh"].bq,
.protyle-wysiwyg [data-node-id][custom-co~="lt"].bq,
.protyle-wysiwyg [data-node-id][custom-co~="chat"].bq {
	box-shadow: 0 0 0 2px #324a5e inset;
}

.bq[custom-co~="dh"]::after,
.bq[custom-co~="lt"]::after,
.bq[custom-co~="chat"]::after {
	background-image: url("callout/chat.png");
}

/* 感恩、感谢 */
.protyle-wysiwyg [data-node-id][custom-co~="gn"].bq,
.protyle-wysiwyg [data-node-id][custom-co~="gx"].bq,
.protyle-wysiwyg [data-node-id][custom-co~="thank"].bq,
.protyle-wysiwyg [data-node-id][custom-co~="thanks"].bq {
	box-shadow: 0 0 0 2px #fbdd45 inset;
}

.bq[custom-co~="gn"]::after,
.bq[custom-co~="gx"]::after,
.bq[custom-co~="thank"]::after,
.bq[custom-co~="thanks"]::after {
	background-image: url("callout/thank.gif");
}

/* 彩蛋 */

.protyle-wysiwyg [data-node-id][custom-co~="kirby"].bq {
	box-shadow: 0 0 0 2px #f8a5b7 inset;
}

.bq[custom-co~="kirby"]::after {
	background-image: url("callout/kirby.jpg");
}

.protyle-wysiwyg [data-node-id][custom-co~="roger"].bq {
	box-shadow: 0 0 0 2px #666666 inset;
}

.bq[custom-co~="roger"]::after {
	background-image: url("callout/roger.jpg");
}

.protyle-wysiwyg [data-node-id][custom-co~="book"].bq {
	box-shadow: 0 0 0 2px #ffc43a inset;
}

.bq[custom-co~="book"]::after {
	background-image: url("callout/book.png");
}

.protyle-wysiwyg [data-node-id][custom-co~="cd"].bq,
.protyle-wysiwyg [data-node-id][custom-co~="archive"].bq {
	box-shadow: 0 0 0 2px #000000 inset;
}

.bq[custom-co~="cd"]::after,
.bq[custom-co~="archive"]::after {
	background-image: url("callout/archive.png");
}

.protyle-wysiwyg [data-node-id][custom-co~="shop"].bq,
.protyle-wysiwyg [data-node-id][custom-co~="shopping"].bq {
	box-shadow: 0 0 0 2px #1c8adb inset;
}

.bq[custom-co~="shop"]::after,
.bq[custom-co~="shopping"]::after {
	background-image: url("callout/shopping.png");
}

.protyle-wysiwyg [data-node-id][custom-co~="sj"].bq,
.protyle-wysiwyg [data-node-id][custom-co~="collect"].bq {
	box-shadow: 0 0 0 2px #000000 inset;
}

.bq[custom-co~="sj"]::after,
.bq[custom-co~="collect"]::after {
	background-image: url("callout/collect.png");
}
