div#dockLeft {
	background: #65a3ff;
}

div#dockLeft .dock__item {
	color: white;
}

div#dockLeft .dock__item:hover {
	background-color: lightblue;
}

div .block__icons {
	padding: 5px 8px;
	height: 20px;
}
