/* -----------------------------------------------列表转化为表格------------------------------------------- */
/* 设置整个列表表格的缩进（主要是为了增加左边距） */
.list[data-node-id][data-type="NodeList"][custom-f~="bg"] {
	padding: 4px;
}

.protyle-wysiwyg *[custom-f~="bg"] .render-node {
	outline: none !important;
}

.protyle-wysiwyg *[custom-f~="bg"] [data-node-id].li > [data-node-id] {
	margin: 0px !important;
}

.protyle-wysiwyg *[custom-f~="bg"][custom-f~="c"] div.p {
	display: flex;
	justify-content: center;
}

/* ————————————————————所有子项目的表格（除去第一列其余的列），包含溢出的空白部分，所以才会有边框—————————————————————— */
.protyle-wysiwyg *[custom-f~="bg"] .li .list {
	padding: 0px;
	margin: 0px !important;
	width: 100%;
	/* outline: 0.05em solid #8080804d; */
	outline: var(--b3-border-normal);
	/* outline: 1px solid red; */
}

/* ————————————————————对所有子列表项设置格式———————————————————— */
.protyle-wysiwyg *[custom-f~="bg"] .li {
	display: flex;
	/* outline: 0.05em solid #8080804d; */
	outline: var(--b3-border-normal);
	background-color: var(--b3-theme-background);
	border-radius: var(--b3-border-radius-none);
	/* padding-right: 6px; */
}

.protyle-wysiwyg *[custom-f~="bg"] [data-node-id].li:before {
	content: none !important;
}

/* ————————————————————调整每个子列表项右侧边距———————————————————— */
.protyle-wysiwyg *[custom-f~="bg"] .li div[contenteditable] {
	/* margin-right: 6px; */
	max-height: 450px;
	overflow-y: auto;
}

.protyle-wysiwyg *[custom-f~="bg"][custom-f~="h100"] .li div[contenteditable] {
	max-height: 100px !important;
}

.protyle-wysiwyg *[custom-f~="bg"][custom-f~="h200"] .li div[contenteditable] {
	max-height: 200px !important;
}

.protyle-wysiwyg *[custom-f~="bg"][custom-f~="h300"] .li div[contenteditable] {
	max-height: 300px !important;
}

.protyle-wysiwyg *[custom-f~="bg"][custom-f~="h400"] .li div[contenteditable] {
	max-height: 400px !important;
}

.protyle-wysiwyg *[custom-f~="bg"][custom-f~="h500"] .li div[contenteditable] {
	max-height: 500px !important;
}

.protyle-wysiwyg *[custom-f~="bg"][custom-f~="h600"] .li div[contenteditable] {
	max-height: 600px !important;
}

.protyle-wysiwyg *[custom-f~="bg"][custom-f~="h800"] .li div[contenteditable] {
	max-height: 800px !important;
}

.protyle-wysiwyg *[custom-f~="bg"] .li:hover {
	background-color: var(--b3-theme-hover2);
}

/* ————————————————————大神增加代码———————————————————— */
/* .protyle-wysiwyg *[custom-f~="bg"] [data-node-id].li > [data-node-id] {
	margin-left: 4px !important;
	min-width: 8em;
} */


.protyle-wysiwyg
	*[custom-f~="bg"][custom-f~="w0.5"]
	[data-node-id].li
	> [data-node-id] {
	min-width: 0.5em !important;
}

.protyle-wysiwyg
	*[custom-f~="bg"][custom-f~="w1"]
	[data-node-id].li
	> [data-node-id] {
	min-width: 1em !important;
}

.protyle-wysiwyg
	*[custom-f~="bg"][custom-f~="w1.5"]
	[data-node-id].li
	> [data-node-id] {
	min-width: 1.5em !important;
}

.protyle-wysiwyg
	*[custom-f~="bg"][custom-f~="w2"]
	[data-node-id].li
	> [data-node-id] {
	min-width: 2em !important;
}

.protyle-wysiwyg
	*[custom-f~="bg"][custom-f~="w2.5"]
	[data-node-id].li
	> [data-node-id] {
	min-width: 2.5em !important;
}

.protyle-wysiwyg
	*[custom-f~="bg"][custom-f~="w3"]
	[data-node-id].li
	> [data-node-id] {
	min-width: 3em !important;
}

.protyle-wysiwyg
	*[custom-f~="bg"][custom-f~="w3.5"]
	[data-node-id].li
	> [data-node-id] {
	min-width: 3.5em !important;
}

.protyle-wysiwyg
	*[custom-f~="bg"][custom-f~="w4"]
	[data-node-id].li
	> [data-node-id] {
	min-width: 4em !important;
}

.protyle-wysiwyg
	*[custom-f~="bg"][custom-f~="w4.5"]
	[data-node-id].li
	> [data-node-id] {
	min-width: 4.5em !important;
}

.protyle-wysiwyg
	*[custom-f~="bg"][custom-f~="w5"]
	[data-node-id].li
	> [data-node-id] {
	min-width: 5em !important;
}

.protyle-wysiwyg
	*[custom-f~="bg"][custom-f~="w5.5"]
	[data-node-id].li
	> [data-node-id] {
	min-width: 5.5em !important;
}

.protyle-wysiwyg
	*[custom-f~="bg"][custom-f~="w6"]
	[data-node-id].li
	> [data-node-id] {
	min-width: 6em !important;
}

.protyle-wysiwyg
	*[custom-f~="bg"][custom-f~="w6.5"]
	[data-node-id].li
	> [data-node-id] {
	min-width: 6.5em !important;
}

.protyle-wysiwyg
	*[custom-f~="bg"][custom-f~="w7"]
	[data-node-id].li
	> [data-node-id] {
	min-width: 7em !important;
}

.protyle-wysiwyg
	*[custom-f~="bg"][custom-f~="w7.5"]
	[data-node-id].li
	> [data-node-id] {
	min-width: 7.5em !important;
}

.protyle-wysiwyg
	*[custom-f~="bg"][custom-f~="w8"]
	[data-node-id].li
	> [data-node-id] {
	min-width: 8em !important;
}

.protyle-wysiwyg
	*[custom-f~="bg"][custom-f~="w9"]
	[data-node-id].li
	> [data-node-id] {
	min-width: 9em !important;
}

.protyle-wysiwyg
	*[custom-f~="bg"][custom-f~="w10"]
	[data-node-id].li
	> [data-node-id] {
	min-width: 10em !important;
}

.protyle-wysiwyg
	*[custom-f~="bg"][custom-f~="w12"]
	[data-node-id].li
	> [data-node-id] {
	min-width: 12em !important;
}

/* ————————————————————对符号后文字设置格式———————————————————— */
.protyle-wysiwyg *[custom-f~="bg"] .p {
	flex: 1;
	text-align: left;
	align-items: center;
	display: flex;
	/* 最主要的代码，设置宽度的 */
	min-width: 120px;
	height: auto;
	margin: 0;
	/* text-align: justify; */
}

.protyle-wysiwyg *[custom-f~="bg"] .li > .list > .li {
	outline: none !important;
	/* border-top: 0.05em solid #8080804d; */
	border-top: var(--b3-border-normal);
	/* border-top: 1px solid transparent; */
}

.protyle-wysiwyg *[custom-f~="bg"] .li > .list > .li:first-of-type {
	border-top: none;
}

/* ————————————————————去除小竖线———————————————————— */
.list[data-node-id][data-type="NodeList"][custom-f~="bg"] .li > :before {
	display: none;
}

/* ————————————————————设置前面的符号居中对齐———————————————————— */
.list[data-node-id][data-type="NodeList"][custom-f~="bg"] .protyle-action {
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	width: 20px;
	/* display: none; */
}

/* ————————————————————取消显示符号·———————————————————— */
.list[data-node-id][data-type="NodeList"][custom-f~="bg"] .protyle-action {
	display: none;
}

.list[data-node-id][data-type="NodeList"][custom-f~="bg"] [custom-co] {
	padding-right: 3em;
	margin-top: 10px !important;
	margin-bottom: 10px !important;
}

/* ---------------------------------------------------------列表转化为表格 END-------------------------------------------------- */
