/* 动态列表子弹流辅助线 */

.protyle-wysiwyg
	.list[data-node-id]
	.list[data-node-id]
	> .li[data-node-id][data-subtype="t"]:hover
	> .protyle-action::before {
	right: calc(22px + 5em / 16);
}
.protyle-wysiwyg
	.list[data-node-id]
	.list[data-node-id]
	> .li[data-node-id][data-subtype="u"]:hover
	> .protyle-action::before {
	/* 与本层节点的接缝 */
	right: calc(22px + 5em / 16);
}
.protyle-wysiwyg
	.list[data-node-id]
	.list[data-node-id]
	> .li[data-node-id][data-subtype="o"]:hover
	> .protyle-action::before {
	/* 与本层节点的接缝 */
	right: calc(14px + 1em);
}

.protyle-wysiwyg
	.list[data-node-id]
	.list[data-node-id]
	> [data-node-id]::before {
	/* 子弹流直线 */
	content: "";
	left: calc(16px - 2em);
	bottom: 0;
	position: absolute;
	border-left: 2px solid transparent;
}

*[custom-f="bg"] [data-node-id]::before {
	border-left: none !important;
}

.protyle-wysiwyg
	.list[data-node-id]
	.list[data-node-id]
	> .li[data-node-id]:hover
	> .protyle-action::before,
.protyle-wysiwyg
	.list[data-node-id]
	.list[data-node-id]
	> [data-node-id]::before {
	/* 与上层节点的接缝 */
	top: -4px;
}

.protyle-wysiwyg [custom-f="bg"] [data-node-id].li .protyle-action,
.protyle-wysiwyg [custom-f="dt"] [data-node-id].li .protyle-action {
	display: none !important;
	border-left: none !important;
}

.protyle-wysiwyg .list[data-node-id] .li[data-node-id] > .protyle-action {
	top: 0.2em;
	left: -1.05px;
	height: 36px !important;
	width: 36px !important;
}
.protyle-wysiwyg .list[data-node-id] .li[data-node-id]:hover > .protyle-action {
	border-radius: 50%;
	box-sizing: border-box;
	border: solid 12px skyblue;
}
