.protyle-wysiwyg
	.list[data-node-id]
	.li[data-node-id]:hover
	> .protyle-action
	svg {
	display: none;
}

.protyle-wysiwyg
	.list[data-node-id]
	.li[data-node-id]:hover
	> .protyle-action::after {
	width: 30px;
	height: 30px;
	top: 14.6px;
	left: 12.7px;
	position: absolute;
	background-size: 30px 30px;
	background-repeat: no-repeat;
	background-image: url("../icon/star-icon.png");
}

.protyle-wysiwyg
	.list[data-node-id][custom-f="kb"]
	.li[data-node-id]:hover
	> .protyle-action::after {
	top: 0px;
	left: 0px;
}

.protyle-wysiwyg *[custom-f="dt"] .li .list {
	padding: 0px;
	margin: 0px;
	transition: all 0.5s;
}

.protyle-wysiwyg *[custom-f="dt"].list[data-node-index] {
	width: 100%;
	overflow-x: auto; /*溢出滚动*/
	padding-bottom: 25px;
}
/*子项设偏移调整*/
.protyle-wysiwyg *[custom-f="dt"] [data-node-id].li > [data-node-id] {
	margin-left: 20px !important;
	margin-right: -14px !important;
}

.protyle-wysiwyg *[custom-f="dt"] [data-node-id].li .bq[custom-co] {
	margin-left: 20px !important;
	margin-top: 15px !important;
	margin-bottom: 15px !important;
}

.protyle-wysiwyg *[custom-f="dt"] [data-node-id].li > .list {
	padding-left: 20px;
}
/*文字设置居中*/
.protyle-wysiwyg *[custom-f="dt"] .li {
	display: flex;
}
.protyle-wysiwyg *[custom-f="dt"] .li .p,
.protyle-wysiwyg *[custom-f="dt"] .li [data-type="NodeHeading"] {
	display: flex;
	align-items: center;
	left: 6px;
	margin: 0;
	flex-shrink: 0; /*不压缩宽度*/
}
/*取消标题层级提示*/
.protyle-wysiwyg
	*[custom-f="dt"]
	.li
	[data-type="NodeHeading"]
	> [spellcheck="false"]:after {
	display: none;
}
/*文字框*/
.protyle-wysiwyg *[custom-f="dt"] .li div > div[spellcheck="false"] {
	margin-left: -6px;
	padding: 5px 10px;
	margin-top: 2px;
	border-radius: 3px;
	/* box-shadow: #0f0f0f1a 0px 0px 0px 1px, #0f0f0f1a 0px 2px 4px; */
	max-width: 300px;
	z-index: 1;
	border: solid #0f0f0f1a;
}

.protyle-wysiwyg
	*[custom-f="dt"][custom-bgcolor="grey"]
	div[spellcheck="false"] {
	background-color: #f6f6f6;
}
.protyle-wysiwyg
	*[custom-f="dt"]
	[custom-bgcolor="grey"]
	div[spellcheck="false"] {
	background-color: #f6f6f6;
}

.protyle-wysiwyg
	*[custom-f="dt"]
	[custom-bgcolor="red"]
	div[spellcheck="false"] {
	background-color: #ffb6c1;
}
.protyle-wysiwyg
	*[custom-f="dt"][custom-bgcolor="red"]
	div[spellcheck="false"] {
	background-color: #ffb6c1;
}

.protyle-wysiwyg
	*[custom-f="dt"][custom-bgcolor="blue"]
	div[spellcheck="false"] {
	background-color: #e0ffff;
}
.protyle-wysiwyg
	*[custom-f="dt"]
	[custom-bgcolor="blue"]
	div[spellcheck="false"] {
	background-color: #e0ffff;
}

.protyle-wysiwyg
	*[custom-f="dt"][custom-bgcolor="green"]
	div[spellcheck="false"] {
	background-color: #90ee90;
}
.protyle-wysiwyg
	*[custom-f="dt"]
	[custom-bgcolor="green"]
	div[spellcheck="false"] {
	background-color: #90ee90;
}

.protyle-wysiwyg
	*[custom-f="dt"]
	[data-subtype="t"]
	.li
	div
	> div[spellcheck="false"],
.protyle-wysiwyg
	*[custom-f="dt"][data-subtype="t"]
	.li
	div
	> div[spellcheck="false"] {
	padding-left: 30px;
}
/*去除竖线*/
.list[custom-f="dt"][data-node-id] .li > :before {
	display: none;
}
/*圆点符号居中对齐*/
.list[custom-f="dt"][data-node-id] .protyle-action {
	top: calc(50% + 1px);
	left: 23px;
	position: absolute;
	transform: translate(0, -50%);
	z-index: 2;
}

.list[custom-f="dt"][data-node-id] .protyle-action--order {
	top: 25%;
	left: -3px;
	position: absolute;
	transform: translate(0, -50%);
	z-index: 2;
}

.list[custom-f="dt"][data-node-id] .protyle-action--task {
	top: 23px !important;
    left: 23px !important;
	position: absolute;
	transform: translate(0, -50%);
	z-index: 2;
}

/*前继承线*/
.protyle-wysiwyg *[custom-f="dt"] .li::before {
	content: "" !important;
	position: absolute;
	top: 50%;
	border-top: 2px solid #89a3e0;
	width: 23px;
	height: 50%;
}
/*上竖线*/
.protyle-wysiwyg *[custom-f="dt"] .li::before {
	content: "" !important;
	bottom: 50%;
	border-left: 2px solid #89a3e0 !important;
}
/*下竖线*/
.protyle-wysiwyg *[custom-f="dt"] .li::after {
	content: "" !important;
	position: absolute;
	bottom: 50%;
	border-left: 2px solid #89a3e0;
	width: 23px;
	height: 50%;
}
/*单个子项直线*/
.protyle-wysiwyg
	*[custom-f="dt"]
	.list
	> .li:first-child:nth-last-child(2)::after {
	border-radius: 0px;
	width: 45px;
	margin-bottom: -2.2px;
	transform: translateX(-20px);
}
/*单子项居中*/
.protyle-wysiwyg *[custom-f="dt"] .list > .li:first-child:nth-last-child(2) {
	top: 50%;
	transform: translate(0, -50%);
}
/*取消多余线条*/
.protyle-wysiwyg *[custom-f="dt"] .li:first-child::after,
.protyle-wysiwyg *[custom-f="dt"] .li:nth-last-child(2)::before {
	border: none !important;
}
/*上框线*/
.protyle-wysiwyg *[custom-f="dt"] .li:first-child::before {
	content: "" !important;
	border-radius: 5px 0 0 0;
}
/*下框线*/
.protyle-wysiwyg *[custom-f="dt"] .li:nth-last-child(2)::after {
	border-bottom: 2px solid #89a3e0 !important;
	border-radius: 0 0 0 5px;
}
/*后继承线*/
.list[custom-f="dt"] .list::after {
	content: "" !important;
	position: absolute;
	left: 0;
	top: 50%;
	border-top: 2px solid #89a3e0;
	width: 0px;
	height: 0;
}
/*取消根目录线*/
div[custom-f="dt"] > [data-type="NodeListItem"]::after,
div[custom-f="dt"] > [data-type="NodeListItem"]::before {
	display: none !important;
}
/*文本高亮*/
.protyle-wysiwyg *[custom-f="dt"] .li div > [spellcheck="false"]:hover,
.protyle-wysiwyg
	*[custom-f="dt"]
	.li
	div:hover
	+ .list
	.li
	div
	> [spellcheck="false"] {
	border: solid orange;
}
[custom-f="dt"] .protyle-linenumber__rows {
	top: 3px;
	left: -5px;
	z-index: 9;
}
.protyle-wysiwyg
	[custom-f~="dt"]
	[data-subtype="t"]
	> .protyle-action--task::before {
	content: "" !important;
	display: inline-block;
	position: absolute;
	width: 14px;
	height: 14px;
	left: 0.5em;
	top: 10px;
	border: 1px solid #cccccc !important;
	border-radius: 50%;
	background-color: #fff;
	transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}
.block__popover
	.protyle-wysiwyg
	[custom-f~="dt"]
	[data-subtype="t"]
	> .protyle-action--task::before {
	left: 0.3em;
	top: 1.05em;
}
.protyle-wysiwyg
	[custom-f~="dt"]
	[data-subtype="t"].protyle-task--done
	> .protyle-action--task::before {
	background-color: transparent;
	border: none !important;
	font-family: "Font Awesome 6 Free solid";
	content: "\f058" !important;
	display: inline-block;
	position: absolute;
	width: 15px !important;
	height: 15px !important;
	left: 0.5em;
	top: 0em;
	font-size: 17px;
	color: #84cde4;
	box-sizing: border-box;
	z-index: 9;
}
.block__popover
	.protyle-wysiwyg
	[custom-f~="dt"]
	[data-subtype="t"].protyle-task--done
	> .protyle-action--task::before {
	left: 0.27em;
	top: 0.45em;
}
/* 导图内嵌入块 */
.protyle-wysiwyg [custom-f~="dt"] .bq {
	padding: 0 !important;
	margin: 0 !important;
	border-left: 0;
	background-color: transparent !important;
}
/* 导图内代码块 */
.list[data-node-id][data-type="NodeList"][custom-f="dt"]
	.hljs.protyle-linenumber {
	padding: 10px 10px;
	top: 0.08em;
}
.block__popover
	.protyle-wysiwyg
	[custom-f~="dt"]
	[data-subtype="t"].protyle-task--done
	> .protyle-action--task::before {
	left: 0.27em;
	top: 0.5em;
}
/* 隐藏列表符号 */
.list[data-node-id][data-type="NodeList"][custom-f="dt"]
	[data-subtype="u"]
	.protyle-action,
.list[data-node-id][data-type="NodeList"][custom-f="dt"][data-subtype="u"]
	.protyle-action {
	opacity: 0;
} /* 自定义属性，列表转化为思维导图 END */

/* 列表转看板from社区老铁五岁小孩/ROY，两级三列效果佳*/
.protyle-wysiwyg .list[custom-f~="kb"][data-node-id][data-type="NodeList"] {
	display: flex;
	font-size: 16px;
	font-family: var(--b3-font-family);
}
.protyle-wysiwyg [custom-f~="kb"] [data-type="NodeListItem"]::before {
	content: "" !important;
}
.protyle-wysiwyg *[custom-f~="kb"].list[data-node-index] {
	width: 100% !important;
	overflow-x: auto; /*溢出滚动*/
	padding-bottom: 25px;
}
/* 所有子项目的表格（除去第一列其余的列），包含溢出的空白部分，所以才会有边框 */
.protyle-wysiwyg *[custom-f~="kb"] .li .list {
	min-width: 12rem;
	border-radius: 3px;
	transform: translate(-30px, 0);
}
/* 对所有子列表项设置格式 */
.protyle-wysiwyg *[custom-f~="kb"] .li .li {
	border-radius: 3px;
	padding: 0.4em 0 0.1em 0;
	margin-bottom: 6px;
	background-color: #fff;
	box-shadow: #0f0f0f1a 0px 0px 0px 1px, #0f0f0f1a 0px 2px 4px;
}
.protyle-wysiwyg *[custom-f~="kb"] [data-node-id].li {
	margin: 5px;
	padding-top: 10px;
	padding-left: 10px;
	padding-bottom: 8px;
	box-shadow: 0px 0px 2px 1px rgb(0 0 0 / 10%);
}
/*只处理每个列表的第一行*/
.protyle-wysiwyg
	*[custom-f~="kb"][data-node-index]
	> div
	> div[data-node-id]:nth-child(2) {
	min-width: 12rem;
	border-radius: 3px;
	padding: 7px 0px 8px 36px;
	left: -30px;
	margin-bottom: 10px;
	box-shadow: #0f0f0f1a 0px 0px 0px 1px, #0f0f0f1a 0px 2px 4px;
	z-index: 0;
}
.block__popover
	.protyle-wysiwyg
	*[custom-f~="kb"][data-node-index]
	> div
	> div[data-node-id]:nth-child(2) {
	padding: 5px 0px 5px 36px;
}
/*标题行循环颜色*/
.protyle-wysiwyg
	*[custom-f~="kb"][data-node-index]
	> div:nth-child(4n-3)
	> div:nth-child(2) {
	background-color: var(--b3-card-error-background);
}
.protyle-wysiwyg
	*[custom-f~="kb"][data-node-index]
	> div:nth-child(4n-2)
	> div:nth-child(2) {
	background-color: var(--b3-card-warning-background);
}
.protyle-wysiwyg
	*[custom-f~="kb"][data-node-index]
	> div:nth-child(4n-1)
	> div:nth-child(2) {
	background-color: var(--b3-card-info-background);
}
.protyle-wysiwyg
	*[custom-f~="kb"][data-node-index]
	> div:nth-child(4n)
	> div:nth-child(2) {
	background-color: var(--b3-card-success-background);
}
/*只处理每个列表第一行的点*/
.protyle-wysiwyg
	*[custom-f~="kb"][data-node-index]:not([data-type="NodeBlockquote"])
	> div
	> div:nth-child(1) {
	/* transform: translate(3px, 4px); */
	transform: translate(15px, 14px);
	z-index: 2;
}
/* 去除小竖线 */
.list[custom-f="kb"][data-node-id] .li > :not(.protyle-action--task):before {
	opacity: 0;
}
/* 对除了第一层之外的子列表 .protyle-action 移动 */
.protyle-wysiwyg *[custom-f~="kb"] .li .list .protyle-action {
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	border-radius: 3px;
}
.protyle-wysiwyg [custom-f~="kb"] > .li[data-subtype="u"] > .protyle-action {
	position: absolute;
	top: -0.2em;
	left: 0.18em;
}
.protyle-wysiwyg
	[custom-f~="kb"]
	.li[data-subtype="o"]
	> .protyle-action--order {
	display: inline;
	position: absolute;
	top: -0.15em;
	left: 14px;
	opacity: 1;
}
.protyle-wysiwyg [custom-f~="kb"] .li [spellcheck="false"] {
	padding-right: 10px;
}
.protyle-wysiwyg
	[data-subtype="t"][custom-f~="kb"]
	> [data-subtype="t"].protyle-task--done
	> .protyle-action--task::before {
	background-color: transparent;
	border: none !important;
	font-family: "Font Awesome 6 Free solid";
	content: "\f058" !important;
	display: inline-block;
	position: absolute;
	width: 15px !important;
	height: 15px !important;
	left: 0em;
	top: 0em;
	font-size: 17px;
	color: #84cde4;
	box-sizing: border-box;
	z-index: 9;
}
.protyle-wysiwyg
	[custom-f~="kb"]
	.li[data-subtype="o"]
	> .protyle-action--order {
	opacity: 1;
}
.protyle-wysiwyg [custom-f~="kb"] > .li > .protyle-action {
	position: absolute;
	top: -0.2em;
	left: 0.15em;
}
.protyle-wysiwyg [custom-f~="kb"] > .li > .list > .li > .protyle-action {
	/* top: 50%; */
	top: 23%;
}
.block__popover .protyle-wysiwyg [custom-f~="kb"] > .li > .protyle-action {
	top: 0.2em;
}
.block__popover
	.protyle-wysiwyg
	[custom-f~="kb"]
	> .li[data-subtype="o"]
	> .protyle-action {
	top: -0.15em;
}
.block__popover
	.protyle-wysiwyg
	[custom-f~="kb"]
	> .li[data-subtype="t"]
	> .protyle-action {
	top: 0.3em;
}
.block__popover
	.protyle-wysiwyg
	[custom-f~="kb"]
	> .li
	> .list
	> .li
	> .protyle-action {
	top: 1.6em;
}
.block__popover
	.protyle-wysiwyg
	[custom-f~="kb"]
	> .li
	> .list
	> .li[data-subtype="o"]
	> .protyle-action {
	top: 1.25em;
}

.protyle-wysiwyg
	.list[data-node-id][custom-f="kb"]
	.li[data-node-id]
	> .protyle-action {
	left: inherit !important;
	top: inherit !important;
	height: inherit !important;
	width: inherit !important;
	transform: translate(10px, 10px);
}

.protyle-wysiwyg
	.list[data-node-id][custom-f="kb"]
	> .li[data-node-id]
	> .protyle-action {
	transform: translate(15px, 14px);
}

.protyle-wysiwyg
	.list[data-node-id][custom-f="kb"]
	.li[data-node-id]
	.protyle-attr--refcount {
	right: -21px;
}
