/* ---------------------------------加粗------------------------------ */
.b3-typography strong,
.protyle-wysiwyg strong {
	color: inherit;
}

[style*="color: var(--b3-font-color1)"] {
	font-weight: normal;
}

[style*="color: var(--b3-font-color2)"] {
	font-weight: normal;
}

[style*="color: var(--b3-font-color3)"] {
	color: #ffd700 !important;
	font-weight: normal;
}

[style*="color: var(--b3-font-color4)"] {
	font-weight: normal;
}

[style*="color: var(--b3-font-color5)"] {
	font-weight: normal;
}

[style*="color: var(--b3-font-color6)"] {
	font-weight: normal;
}

[style*="color: var(--b3-font-color7)"] {
	font-weight: normal;
}

[style*="color: var(--b3-font-color8)"] {
	color: grey !important;
	font-weight: normal;
}

[style*="background-color: var(--b3-font-background1)"] {
	font-weight: normal;
}

[style*="background-color: var(--b3-font-background2)"] {
	font-weight: normal;
}

[style*="background-color: var(--b3-font-background3)"] {
	font-weight: normal;
}

[style*="background-color: var(--b3-font-background4)"] {
	font-weight: normal;
}

[style*="background-color: var(--b3-font-background5)"] {
	font-weight: normal;
}

[style*="background-color: var(--b3-font-background6)"] {
	font-weight: normal;
}

[style*="background-color: var(--b3-font-background7)"] {
	font-weight: normal;
}

[style*="background-color: var(--b3-font-background8)"] {
	font-weight: normal;
}

button.b3-menu__item
	> span.b3-menu__label
	span[style*="background-color:var(--b3-font-background9);"],
button.b3-menu__item
	> span.b3-menu__label
	span[style*="background-color:var(--b3-font-background10);"],
button.b3-menu__item
	> span.b3-menu__label
	span[style*="background-color:var(--b3-font-background11);"],
button.b3-menu__item
	> span.b3-menu__label
	span[style*="background-color:var(--b3-font-background12);"] {
	color: white !important;
	font-weight: bold !important;
}

button.b3-menu__item
	> span.b3-menu__label
	span[style*="color:var(--b3-font-color9);"],
button.b3-menu__item
	> span.b3-menu__label
	span[style*="color:var(--b3-font-color10);"],
button.b3-menu__item
	> span.b3-menu__label
	span[style*="color:var(--b3-font-color11);"],
button.b3-menu__item
	> span.b3-menu__label
	span[style*="color:var(--b3-font-color12);"],
button.b3-menu__item
	> span.b3-menu__label
	span[style*="color:var(--b3-font-color13);"],
button.b3-menu__item
	> span.b3-menu__label
	span[style*="background-color:var(--b3-font-background13);"] {
	color: white !important;
}

button.b3-menu__item:hover
	> span.b3-menu__label
	span[style*="color:var(--b3-font-color9);"],
button.b3-menu__item:hover
	> span.b3-menu__label
	span[style*="color:var(--b3-font-color10);"],
button.b3-menu__item:hover
	> span.b3-menu__label
	span[style*="color:var(--b3-font-color11);"],
button.b3-menu__item:hover
	> span.b3-menu__label
	span[style*="color:var(--b3-font-color12);"],
button.b3-menu__item:hover
	> span.b3-menu__label
	span[style*="color:var(--b3-font-color13);"],
button.b3-menu__item:hover
	> span.b3-menu__label
	span[style*="background-color:var(--b3-font-background13);"] {
	color: var(--b3-theme-hover2) !important;
}

button.b3-menu__item
	> span.b3-menu__label
	span[style*="color:var(--b3-font-color9);"]::before {
	content: "宋";
	font-family: "宋体";
	font-size: 1.2em;
	position: absolute;
	color: var(--b3-theme-on-background) !important;
}

button.b3-menu__item
	> span.b3-menu__label
	span[style*="color:var(--b3-font-color10);"]::before {
	content: "楷";
	font-weight: bold;
	font-family: "楷体";
	font-size: 1.4em;
	position: absolute;
	color: var(--b3-theme-on-background) !important;
}

button.b3-menu__item
	> span.b3-menu__label
	span[style*="color:var(--b3-font-color11);"]::before {
	content: "黑";
	font-family: "黑体";
	font-weight: bold;
	position: absolute;
	font-size: 1.2em;
	color: var(--b3-theme-on-background) !important;
}

button.b3-menu__item
	> span.b3-menu__label
	span[style*="color:var(--b3-font-color12);"]::before {
	content: "T";
	font-family: "Times New Roman";
	font-weight: bold;
	position: absolute;
	font-size: 1.2em;
	color: var(--b3-theme-on-background) !important;
}

button.b3-menu__item
	> span.b3-menu__label
	span[style*="color:var(--b3-font-color13);"]::before {
	content: "~";
	font-size: 1.45em;
	position: absolute;
	color: var(--b3-theme-on-background) !important;
}

button.b3-menu__item
	> span.b3-menu__label
	span[style*="background-color:var(--b3-font-background13);"]::before {
	content: "空";
	box-sizing: border-box;
	font-size: 1.2em;
	position: absolute;
	color: var(--b3-theme-on-background) !important;
}
