.protyle-wysiwyg
	[data-node-id].bq:not(div.list
		div.bq):not([style*="background-color: var(--b3-card"]) {
	border-left-color: transparent;
	text-align: justify;
	background-image: url(../../src/bq.png);
	background-repeat: no-repeat;
	background-position: right 10px top 10px;
	background-color: #f8f8f8;
	background-size: 1.2em 1.2em;
	color: rgba(0, 0, 0, 0.68);
	margin: 30px 0;
	padding: 30px 20px 20px;
}
