.protyle-wysiwyg [data-node-id].bq:not([custom-co]) {
	border-left-color: transparent;
	text-align: justify;
	background-image: url(../../src/bq.svg);
	background-repeat: no-repeat;
	background-position: right 8px top 9px;
	background-color: #f8f8f8;
	background-size: 0.85em 0.85em;
	color: inherit;
	margin: 1em 0px;
	padding: 0.5em 1em;
	border-radius: 12px;
}
