.protyle-wysiwyg [data-node-id][fold="1"]:not(.li).code-block {
	border-radius: 4px;
	padding-top: 32px !important;
	line-height: 1.625;
	height: 1px !important;
	opacity: 1 !important;
	font-size: inherit !important;
	overflow: visible !important;
	background-color: #dbe4f2 !important;
}
.protyle-wysiwyg [data-node-id][fold="1"]:not(.li).code-block .hljs,
.protyle-wysiwyg
	[data-node-id][fold="1"]:not(.li).code-block
	.protyle-linenumber__rows {
	overflow: hidden !important;
	display: none;
}
.protyle-wysiwyg [data-node-id][fold="1"]:not(.li).code-block .protyle-icons {
	opacity: 1;
}
[data-type="NodeCodeBlock"] .protyle-icons,
[data-type="NodeCodeBlock"] .protyle-icons > span:hover {
	background-color: transparent;
}
[data-type="NodeCodeBlock"] .protyle-icons > span:hover,
[data-type="NodeCodeBlock"] .protyle-icons svg {
	color: #999;
}
[data-type="NodeCodeBlock"] .protyle-action__language {
	color: #999;
	font-family: var(--b3-font-family-code);
}
.protyle-wysiwyg [data-node-id][fold="1"]:not(.li).code-block::before {
	content: "Code ...";
	color: #888;
	font-size: 1.06em;
	font-style: italic;
	position: absolute;
	top: 5px;
	left: 10px;
	z-index: 1;
}
.protyle-wysiwyg [data-node-id][fold="1"]:not(.li).code-block .protyle-action {
	top: 0px;
}

[data-type="NodeCodeBlock"] .hljs {
	background-color: #f9f9f9;
	padding: 10px 4px;
}
.b3-typography .hljs,
.protyle-wysiwyg .hljs {
	overflow: hidden;
}
.b3-typography .hljs:hover,
.protyle-wysiwyg .hljs:hover {
	overflow-x: overlay;
}
[data-type="NodeCodeBlock"] .protyle-linenumber__rows {
	font-family: var(--b3-font-family-code);
	color: #aaa !important;
	font-weight: 400;
	padding: 10px 4px;
}
.b3-typography .code-block .protyle-action .protyle-action__language,
.protyle-wysiwyg .code-block .protyle-action .protyle-action__language {
	margin-left: 0 !important;
}
.b3-typography .code-block .protyle-action,
.protyle-wysiwyg .code-block .protyle-action {
	width: 150px;
	top: unset;
	left: unset;
}
.block__popover .protyle-wysiwyg .code-block .protyle-action {
	margin-top: 3px;
}
.protyle-wysiwyg--hl .protyle-linenumber__rows,
.protyle-wysiwyg--select .protyle-linenumber__rows,
[data-type="NodeCodeBlock"] .protyle-wysiwyg--select .protyle-linenumber__rows {
	background-color: #f3f3f3 !important;
}
[data-type="NodeCodeBlock"] .protyle-action__language + .fn__flex-1 {
	flex: none;
}
[data-type="NodeCodeBlock"] .protyle-action {
	display: block !important;
	text-align: right;
}
[data-type="NodeCodeBlock"] .protyle-action__language {
	margin-right: 5px;
	color: #999 !important;
}
[data-type="NodeCodeBlock"] .protyle-action__copy,
[data-type="NodeCodeBlock"] .protyle-action__copy svg,
[data-type="NodeCodeBlock"] .protyle-action__menu,
[data-type="NodeCodeBlock"] .protyle-action__menu svg {
	vertical-align: middle;
}
[data-type="NodeCodeBlock"] .protyle-action__copy svg,
[data-type="NodeCodeBlock"] .protyle-action__menu svg {
	margin-top: -5px !important;
}
[data-type="NodeCodeBlock"] .protyle-icon {
	color: #666;
	background-color: #eee;
}
[data-type="NodeCodeBlock"] .protyle-icon:hover {
	background-color: #ddd;
}
