/* 嵌入块 */
.protyle-wysiwyg [data-node-id].render-node[data-type="NodeBlockQueryEmbed"] {
	/* padding-bottom: 15px; */
	/* outline: 2px dashed #e9e9e9; */
	background-color: transparent;
}

/* 进行SQL查询时嵌入块之间分割线颜色 */

div.render-node .protyle-wysiwyg__embed {
	border-top: none !important;
}

/* div.render-node > div:nth-child(2) {
	margin-top: 0px !important;
	border-top: none !important;
}
div.render-node .protyle-wysiwyg__embed {
	margin-top: 15px;
	border-top: 1.5px dashed #e9e9e9 !important;
} */

/* 嵌入块中标题外边距为4px */
.render-node [data-type="NodeHeading"] {
	margin: 4px !important;
}

/* ------------------------------------------------块嵌入/嵌入块 END------------------------------------------------- */
