.protyle-wysiwyg [data-node-id].sb[data-sb-layout="col"] {
	display: flex;
	flex-wrap: wrap;
}

.protyle-wysiwyg [data-node-id].sb[data-sb-layout="col"] .sb {
	border-radius: var(--b3-border-radius-none);
	box-sizing: border-box;
	margin: 0.1em 0 0.1em 0.1em;
}

.protyle-wysiwyg [data-node-id].sb[data-sb-layout="col"] .sb:nth-last-child(2) {
	margin-right: 0.1em;
}

.protyle-wysiwyg [data-node-id].sb[data-sb-layout="col"] > div {
	border-radius: var(--b3-border-radius-none);
	box-sizing: border-box;
	margin: 0.1em 0 0.1em 0.1em;
}

.protyle-wysiwyg
	[data-node-id].sb[data-sb-layout="col"]
	> div:nth-last-child(2) {
	margin-right: 0.1em;
}

div.sb div[data-type="NodeHeading"] {
	margin-top: 0px !important;
	border-radius: 0 !important;
}

div.sb > div[data-type="NodeHeading"] {
	color: inherit !important;
}
